@charset "utf-8";

/* 전체적인 구조 */
body {
    padding-top: 89px;
}

.wrap {
    overflow: hidden;
}

/* 헤더 */
.common-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 89px;
    z-index: 10;
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
}
.common-header .header-center {
    padding: 0 96px;
}

.common-header .header::after {
    content: '';
    display: block;
    clear: both;
}

.common-header .header-cont::after {
    content: '';
    display: block;
    clear: both;
}

.common-header .header-cont .logo {
    float: left;
}

.common-header .header-cont .logo::after {
    content: '';
    display: block;
    clear: both;
}

.common-header .header-cont .logo .link {
    display: block;
    width: 222px;
    height: 22px;
    background-size: 222px 22px;
    margin-top: 32px;
    margin-right: 82px;
    background-image: url('../image/logo.png');
}

.common-header .header-cont .gnb {
    float: left;
}

.common-header .header-cont .gnb::after {
    content: '';
    display: block;
    clear: both;
}

.common-header .header-cont .gnb .menu::after {
    content: '';
    display: block;
    clear: both;
}

.common-header .header-cont .gnb .menu .list {
    float: left;
    line-height: 89px;
    font-size: 17px;
    margin-right: 60px;
}

.common-header .header-cont .gnb .menu .list a {
    display: block;
    padding: 0 2px;
    letter-spacing: -0.56px;
    color: #333333;
    font-weight: 400;
}

.common-header .header-cont .gnb .menu .list .link-on {
    font-weight: 700;
    position: relative;
}
.common-header .header-cont .gnb .menu .list .link-on::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 24px;
    left: 0px;
    width: 100%;
    border-bottom: 2px solid #03c75a;
}

.common-header .header-cont .all-menu {
    float: right;
    margin-top: 14px;
    padding: 20px;
}

.common-header .header-cont .all-menu .link {
    display: block;
    width: 20px;
    height: 20px;
    background-size: 20px, 20px;
    background-image: url('../image/all-menu.png');
    background-repeat: no-repeat;
}










/* 서브페이지 비주얼 */
.section-display-ad .sub-container .visual {
    width: 100%;
    height: 180px;
    background-image: linear-gradient(to right, #07d05a, #24beac);
    display: table;
    position: relative;
}

.section-display-ad .sub-container .visual .cont {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
}

.section-display-ad .sub-container .visual .cont .copy {
    display: block;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.68px;
    padding-bottom: 12px;
}

.section-display-ad .sub-container .visual .cont .desc {
    display: block;
    line-height: 30px;
    letter-spacing: -0.6px;
    font-size: 17px;
}

.section-display-ad .sub-container .visual .cont .bg-01 {
    background-image: url('../image/ad-platform-visual-cont-bg-01.png');
    background-repeat: no-repeat;
    background-size: 600px 180px;
    width: 600px;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
}

.section-display-ad .sub-container .visual .cont .bg-02 {
    background-image: url('../image/ad-platform-visual-cont-bg-02.png');
    background-repeat: no-repeat;
    background-size: 600px 180px;
    width: 600px;
    height: 180px;
    position: absolute;
    top: 0;
    right: 0;
}





/* 탭 */
.display-ad-formal .ad-platform-tab .tab {
    margin-top: 82px;
}
.display-ad-formal .ad-platform-tab .tab ul::after {
    content: '';
    display: block;
    clear: both;
}
.display-ad-formal .ad-platform-tab .tab ul li {
    width: 240px;
    height: 52px;
    float: left;
    text-align: center;
}
.display-ad-formal .ad-platform-tab .tab .menu {
    width: 720px;
    margin: 0 auto;
}
.display-ad-formal .ad-platform-tab .tab .menu .item {
    border-bottom: 1px solid #c9c9c9;
}
.display-ad-formal .ad-platform-tab .tab .menu .item .title {
    font-weight: 400;
}
.display-ad-formal .ad-platform-tab .tab .menu .item-on {
    position: relative;
}

.display-ad-formal .ad-platform-tab .tab .menu .item-on::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #00ac4a;
    position: absolute;
    bottom: -1px;
    left: 0px;
}
.display-ad-formal .ad-platform-tab .tab .menu .item-on .title {
    color: #00ac4a;
    font-weight: 700;
}
.display-ad-formal .ad-platform-tab .tab .menu .item .link {}
.display-ad-formal .ad-platform-tab .tab .menu .item .link .title {
    font-size: 20px;

}
.display-ad-formal .ad-platform-tab .tab .menu .item .link .title span {
    font-size: 15px;
}

.display-ad-formal .platform {
    text-align: center;
}
.display-ad-formal .platform .text-cont {
    margin-top: 120px;
    margin-bottom: 40px;
}
.display-ad-formal .platform .text-cont .title {
    display: block;
    font-size: 42px;
    letter-spacing: -1.2px;
    margin-bottom: 16px;
}
.display-ad-formal .platform .text-cont .text {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #333333;

}
.display-ad-formal .platform .text-cont .text .point {
    color: #00ac4a;
}
.display-ad-formal .platform .link-cont {
    padding-bottom: 64px;
}
.display-ad-formal .platform .link-cont .link {
    border: 1px solid rgba(3, 199, 90, 0.7);
    border-radius: 40px;
    background-image: linear-gradient(to right, #07d05a, #24beac);
    display: block;
    width: 312px;
    height: 56px;
    margin: 0 auto;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
.display-ad-formal .platform .link-cont .link:hover {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.07);
    transform: translateY(-2px);
}

.display-ad-formal .platform .link-cont .link .text {
    line-height: 56px;
    letter-spacing: -0.6px;
    color: #fff;
    font-size: 17px;
    padding-right: 20px;
    position: relative;
}
.display-ad-formal .platform .link-cont .link .text::after {
    content: '';
    width: 8px;
    height: 8px;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    right: 5px;
}
.display-ad-formal .platform .ad-info-img {
    background-image: url('../image/ad-info-img.png');
    background-repeat: no-repeat;
    background-size: 1100px 644px;
    width: 1100px;
    height: 644px;
    margin: 0 auto;
}








.display-ad-formal .operation {
    background-color: #f5f7f8;
    padding-top: 124px;
    position: relative;
}
.display-ad-formal .operation::after {
    content: '';
    display: block;
    background-color: #f5f7f8;
    transform-origin: left bottom;
    transform: rotate(5.2deg);
    width: 200%;
    height: 200%;
    position: absolute;
    top: -370px;
    left: -1000px;
    z-index: -1;
}
.display-ad-formal .operation .text-cont {
    text-align: center;
}
.display-ad-formal .operation .text-cont .title {
    font-size: 32px;
}
.display-ad-formal .operation .text-cont .text {
    margin-top: 20px;
    font-size: 20px;
}
.display-ad-formal .operation .text-cont .text .point {
    color: #00ac4a;
}
.display-ad-formal .operation .ad-cont {
    width: 1118px;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 80px;
}
.display-ad-formal .operation .ad-cont .list {
    padding-top: 55px;
    border-top: 1px solid #999999;
}
.display-ad-formal .operation .ad-cont .list .item {
    position: relative;
    padding: 40px 0px;
    border-top: 1px solid #eeeeee;
}
.display-ad-formal .operation .ad-cont .list .item:first-child {
    border: none;
}

.display-ad-formal .operation .ad-cont .list .item::after {
    content: '';
    display: block;
    clear: both;
}
.display-ad-formal .operation .ad-cont .list .item::before {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    left: 16px;
    background-color: #03c75a;
}
.display-ad-formal .operation .ad-cont .list .item:last-child::before {
    width: 2px;
    height: 72px;
}
.display-ad-formal .operation .ad-cont .list .item:last-child::after {
    position: relative;
    bottom: -27px;
    border-bottom: 1px solid #eeeeee
}
.display-ad-formal .operation .ad-cont .item .num {
    background-color: #03c75a;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    display: block;
    border-radius: 16px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    float: left;
    position: relative;
}
.display-ad-formal .operation .ad-cont .item .title {
    font-size: 24px;
    float: left;
    margin-right: 58px;
    width: 232px;
    padding-left: 32px;
}
.display-ad-formal .operation .ad-cont .item .cont {
    float: left;
}
.display-ad-formal .operation .ad-cont .item .cont > .text {
    font-size: 20px;
    margin-bottom: 15px;
    color: #555555;
    font-weight: 400;

}

.display-ad-formal .operation .ad-cont .item .cont .link-cont {
    width: 732px;
}

.display-ad-formal .operation .ad-cont .item .cont .link-cont::after {
    content: '';
    display: block;
    clear: both;
}

.display-ad-formal .operation .ad-cont .item .cont .link-cont .link {
    line-height: 40px;
    color: #00ac4a;
    border: 1px solid rgba(3, 199, 90, 0.4);
    border-radius: 24px;
    display: block;
    width: 192px;
    text-align: center;
    float: left;
    margin-right: 8px;
}
.display-ad-formal .operation .ad-cont .item .cont .link-cont .link a {
    display: block;
}

.display-ad-formal .operation .ad-cont .item .cont .link-cont .link .text:hover {
    border-radius: 24px;
    background-image: linear-gradient(to right, #07d05a, #24beac);
    color: #fff;
}

.display-ad-formal .operation .ad-cont .cont .link-cont .link .text {
    font-size: 16px;
    color: #00ac4a;
    display: block;
}
.display-ad-formal .operation .ad-cont .cont .link-cont .link .text > span {
    padding-right: 16px;
    position: relative;
}

.display-ad-formal .operation .ad-cont .cont .link-cont .link .text > span::after {
    content: '';
    width: 8px;
    height: 8px;
    border-top: 1px solid #00ac4a;
    border-right: 1px solid #00ac4a;
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    top: 5px;
    right: 0px;
}


.display-ad-formal .product-info {
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-top: 245px;
    padding-bottom: 152px;
}
.display-ad-formal .product-info::after {
    width: 150px;
    height: 100px;
    transform: skew(30deg, 30deg);
    background: red;
    margin: 0 auto;
}
.display-ad-formal .product-bg {
    background-image: url('../image/92005e7200c42cca0716e8abc0d87b50.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
}



.display-ad-formal .product-info .title {
    color: #ffffff;
    display: inline-block;
    font-size: 32px;
}
.display-ad-formal .product-info .text {
    margin-top: 16px;
    line-height: 32px;
    color: #d4d4d5;
    font-size: 20px;
}
.display-ad-formal .product-info .text span {
    color: #00ac4a;
}

.display-ad-formal .product-info .link-cont .link {
    width: 556px;
    height: 93px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 60px;
    border-radius: 52px;
    border: 1px solid rgba(3, 199, 90, 0.7);
    font-size: 25px;
    text-align: center;
    line-height: 96px;
    letter-spacing: -0.6px;
    color: #03c75a;
}

.display-ad-formal .product-info .link-cont .link:last-child {
    margin-right: 0;
}









































/* 푸터 */
.common-footer {
    padding: 0 96px;
    background-color: #000000;
}

.common-footer .fonter-cont {
    padding-top: 60px;
    padding-bottom: 55px;
}

.common-footer .fonter-cont::after {
    content: '';
    display: block;
    clear: both;
}

.common-footer .fonter-cont .info {
    float: left;
}

.common-footer .fonter-cont .info ul::after {
    content: '';
    display: block;
    clear: both;
}

.common-footer .fonter-cont .info ul li {
    float: left;
    padding-right: 16px;
    margin-right: 16px;
}

.common-footer .fonter-cont .info .info-list {
    margin-bottom: 24px;
}

.common-footer .fonter-cont .info .info-list .item a {
    color: #dbdbdb;
}

.common-footer .fonter-cont .info .company-infor-list .item {
    color: #767676;
    font-size: 14px;
}

.common-footer .fonter-cont .info .address-list .item {
    color: #767676;
    font-size: 14px;
}

.common-footer .fonter-cont .info .address-list .item .mail {
    color: #767676;
}

.common-footer .fonter-cont .corp {
    float: right;
    position: relative;
    top: 17px;
}

.common-footer .fonter-cont .corp .logo {
    background-image: url('../image/black-and-white-logo.png');
    background-repeat: no-repeat;
    background-size: 103px, 20px;
    width: 103px;
    height: 20px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.common-footer .fonter-cont .corp .addr {
    display: block;
    margin-top: 40px;
    color: #767676;
}
