@charset "utf-8";


.wrap {width: 100%; min-width: 1748px; padding-top: 89px; overflow: hidden;}
.inner {width: 1748px; margin: 0 auto;}
.row {padding: 0 20px;}













/* 헤더 */
.header {
    position: relative;
}

.header-section {
    min-width: 1400px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 7;
    background-color: #ffffff;
    border-bottom: 1px solid #f7f7f7;
    /* overflow: hidden; */
    /* height: 89px; */
}


.header-contents::after {
    content: '';
    display: block;
    clear: both;
}

/* 헤더 - 로고 */
.header-contents .logo {
    width: 222px;
    float: left;
    margin-top: 32px;
}
.header-contents .logo .logo-link {
    background: url('../image/logo.png') no-repeat;
    width: 222px;
    height: 22px;
    background-size: 222px, 22px;
    display: block;
}

/* 헤더 - GNB */
.header-contents .gnb {
    width: 1446px;
    float: left;
}
.header-contents .gnb .menu {
    padding-left: 82px;
}
.header-contents .gnb .menu::after {
    content: '';
    display: block;
    clear: both;
}
.header-contents .gnb .menu .list {
    font-size: 17px;
    color: #333333;
    float: left;
    margin-right: 60px;
    height: 89px;
    line-height: 89px;
}

.header-contents .gnb .menu .list a {
    display: block;
    font-family: 'NanumSquare';
    font-weight: 400;
    padding: 0 2px;
    letter-spacing: -0.56px;
    color: #333333;
    position: relative;
}


.header-contents .gnb .menu .list a::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 24px;
    background-color: #03c75a;
    transition: width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header-contents .gnb .menu .list a:hover::after {
    width: 100%;
}

/* 서브페이지 이동 */
.header-contents .gnb .gnb-lnb {
    height: 62px;
    border-bottom: 1px solid #dcdcdc;
    background-color: #fff;
    width: 100%;
    position: absolute;
    bottom: -64px;
    left: 0;
    right: 0;
    z-index: 100;
    display: none;
}

.header-contents .gnb .lnb-on {
    display: block;
}

.header-contents .gnb .gnb-lnb .menu {
    padding-left: 0;
}

.header-contents .gnb .gnb-lnb .menu::after {
    content: '';
    display: block;
    clear: both;
}
.header-contents .gnb .gnb-lnb .menu-ad-product {padding-left: 227px;}
.header-contents .gnb .gnb-lnb .menu-new {padding-left: 681px;}

.header-contents .gnb .gnb-lnb .menu .item {
    float: left;
    line-height: 62px;
    margin-right: 48px;
}

.header-contents .gnb .gnb-lnb .menu .item a {
    font-size: 16px;
    letter-spacing: -0.6px;
}

.header-contents .gnb .gnb-lnb .menu .item a::after {
    content: none;
}








/* 현재 보고 있는 페이지 css 부분 */
.header-contents .gnb .menu .list-view a {
    font-weight: 700;
    color: #000000;
    position: relative;
}

.header-contents .gnb .menu .list-view a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 24px;
    background-color: #03c75a;
}

/* 헤더 - 광고리스트 메뉴 */
.header-contents .all-menu {
    width: 40px;
    float: left;
    margin-top: 34px;
}
.header-contents .all-menu a {
    display: block;
    padding: 0 10px;
}
.header-contents .all-menu a .ad-link {
    background: url('../image/all-menu.png') no-repeat;
    width: 20px;
    height: 20px;
    background-size: 20px, 20px;
    display: inline-block;
    vertical-align: top;
}










/* 서브페이지 비주얼 */
.section-display-ad .sub-container .visual {
    width: 100%;
    min-width: 1400px;
    height: 180px;
    background-image: linear-gradient(to right, #07d05a, #24beac);
    display: table;
    position: relative;
}

.section-display-ad .sub-container .visual .cont {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
}

.section-display-ad .sub-container .visual .cont .copy {
    display: block;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.68px;
    padding-bottom: 12px;
}

.section-display-ad .sub-container .visual .cont .desc {
    display: block;
    line-height: 30px;
    letter-spacing: -0.6px;
    font-size: 17px;
}

.section-display-ad .sub-container .visual .cont .bg-01 {
    background-image: url('../image/ad-platform-visual-cont-bg-01.png');
    background-repeat: no-repeat;
    background-size: 600px 180px;
    width: 600px;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
}

.section-display-ad .sub-container .visual .cont .bg-02 {
    background-image: url('../image/ad-platform-visual-cont-bg-02.png');
    background-repeat: no-repeat;
    background-size: 600px 180px;
    width: 600px;
    height: 180px;
    position: absolute;
    top: 0;
    right: 0;
}





/* 탭 - 보장형 디스플레이 광고*/
.ad-formal-container .tab {
    height: 136px;
}
.ad-formal-container .tab-layout {
    width: 720px;
    padding: 53px 340px 0;
    margin: 0 auto;
}
.ad-formal-container .tab-wrap .tab-menu {
    border-bottom: 1px solid #c9c9c9;
}
.ad-formal-container .tab-wrap .tab-menu::after {
    content: '';
    display: block;
    clear: both;
}
.ad-formal-container .tab-wrap .tab-menu .item {
    width: 240px;
    height: 80px;
    text-align: center;
    float: left;
}
.ad-formal-container .tab-wrap .tab-menu .item .link {
    display: block;
    margin-top: 28px;
}
.ad-formal-container .tab-wrap .tab-menu .item .link .text {
    font-size: 20px;
    letter-spacing: -0.6px;
    display: inline-block;
}
.ad-formal-container .tab-wrap .tab-menu .item .link .desc {
    font-size: 15px;
    letter-spacing: -0.6px;
    display: inline-block;
    color: #767676;
}

/* 탭 - 보장형 디스플레이 광고 - 현재 페이지*/
.ad-formal-container .tab-wrap .tab-menu .item-on {
    border-bottom: 2px solid #00ac4a;
}
.ad-formal-container .tab-wrap .tab-menu .item-on .link > .text {
    font-family: 'NanumSquare';
    font-weight: 700;
    color: #00ac4a;
}
.ad-formal-container .tab-wrap .tab-menu .item-on .link > .desc {
    color: #00ac4a;
}









.ad-formal-container .ad-formal {
    /* height: 2213px; */
    position: relative;
}
.ad-formal-container .ad-formal::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 1640px;
    left: -1480px;
    top: 614px;
    z-index: -1;
    background-color: #f5f7f8;
    transform-origin: left bottom;
    transform: rotate(5.2deg);
}
.ad-formal-container .ad-formal-layout {
    min-width: 1400px;
    width: 1118px;
    padding: 119px 141px 50px;
    margin: 0 auto;
}
.ad-formal-container .ad-formal-wrap {
    text-align: center;
    margin: 0 auto;
}

.ad-formal-container .ad-formal-wrap .text-cont .title {
    display: block;
    font-size: 42px;
    letter-spacing: -1.2px;
    margin-bottom: 16px;
}
.ad-formal-container .ad-formal-wrap .text-cont .desc {
    font-size: 20px;
    color: #333333;
    letter-spacing: -0.6px;
    margin-bottom: 42px;
}
.ad-formal-container .ad-formal-wrap .text-cont .desc .point {
    color: #00ac4a;
}
.ad-formal-container .ad-formal-wrap .link {
    background-image: linear-gradient(to right, #07d05a, #24beac);
    width: 312px;
    padding: 16px 0 15px;
    border-radius: 40px;
    display: inline-block;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
.ad-formal-container .ad-formal-wrap .link:hover {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.07);
    transform: translateY(-2px);
}
.ad-formal-container .ad-formal-wrap .link .text {
    font-size: 17px;
    letter-spacing: -0.6px;
    color: #ffffff;
    padding-right: 12px;
    position: relative;
}
.ad-formal-container .ad-formal-wrap .link .text::after {
    content: '';
    width: 8px;
    height: 8px;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    right: 0px;
}
.ad-formal-container .ad-formal-wrap .ad-formal-bg-img {
    background-image: url('../image/ad-info-img.png');
    background-repeat: no-repeat;
    background-size: 1100px 644px;
    width: 1100px;
    height: 644px;
    margin: 0 auto;
    margin-top: 64px;
}

.ad-formal-container .documentation .text-cont {
    margin-top: 81px;
}
.ad-formal-container .documentation .text-cont .title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.6px;
}
.ad-formal-container .documentation .text-cont .text {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #333333;
}
.ad-formal-container .documentation .text-cont .point {
    color: #00ac4a;
}


.ad-formal-container .documentation .ad-cont .link-wrap::after {
    content: '';
    display: block;
    clear: both;
}

.ad-formal-container .documentation .ad-cont .link-wrap .link-item {
    text-align: center;
    display: block;
    float: left;
    width: 190px;
    padding: 8px 0 7px;
    background-image: none;
    border: 1px solid #94e4b9;
    border-radius: 40px;
    margin-right: 8px;
}
.ad-formal-container .documentation .ad-cont .link-wrap .link-item:hover {
    background-image: linear-gradient(to right, #07d05a, #24beac);
}
.ad-formal-container .documentation .ad-cont .link-wrap .link-item:hover .text {
    color: #fff;
}
.ad-formal-container .documentation .ad-cont .link-wrap .link-item:hover .text::after {
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.ad-formal-container .documentation .ad-cont .link-wrap .link-item .text {
    color: #00ac4a;
    padding-right: 12px;
    position: relative;
}
.ad-formal-container .documentation .ad-cont .link-wrap .link-item .text::after {
    content: '';
    width: 7px;
    height: 7px;
    border-top: 1px solid #00ac4a;
    border-right: 1px solid #00ac4a;
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    top: 5px;
    right: 0px;
}






















/* 직접 운영 안내 - 콘텐츠 */


.ad-formal-container .documentation .ad-cont {
    width: 1118px;
    margin: 0 auto;
    padding-top: 55px;
}
.ad-formal-container .documentation .ad-cont .list {
    border-top: 1px solid #999999;
    padding-left: 5px;
    padding-top: 20px;
}
.ad-formal-container .documentation .ad-cont .list .item {
    position: relative;
    /* border-top: 1px solid #eeeeee; */
    text-align: left;
    padding: 40px 0 40px;
}
.ad-formal-container .documentation .ad-cont .list .item:first-child {
    border: none;
}

.ad-formal-container .documentation .ad-cont .list .item::after {
    content: '';
    display: block;
    clear: both;
}
.ad-formal-container .documentation .ad-cont .list .item::before {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    left: 15px;
    background-color: #03c75a;
}
.ad-formal-container .documentation .ad-cont .list .item:last-child::before {
    width: 2px;
    height: 72px;
}
.ad-formal-container .documentation .ad-cont .list .item:last-child::after {
    position: relative;
    bottom: -27px;
    border-bottom: 1px solid #eeeeee
}
.ad-formal-container .documentation .ad-cont .item .num {
    background-color: #03c75a;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    display: block;
    border-radius: 16px;
    color: #ffffff;
    font-size: 18px;
    font-family: 'SpoqaHanSansBold, Arial, NanumSquareR, sans-serif';
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    float: left;
    position: relative;
}
.ad-formal-container .documentation .ad-cont .item .title {
    font-size: 24px;
    line-height: 38px;
    letter-spacing: -0.6px;
    float: left;
    width: 232px;
    display: block;
    padding-left: 28px;
    font-family: 'NanumSquare';
    font-weight: 700;
}
.ad-formal-container .documentation .ad-cont .item .cont {
    float: left;
    padding-left: 34px;
}
.ad-formal-container .documentation .ad-cont .item .cont > .text {
    font-size: 20px;
    margin-bottom: 15px;
    color: #555555;
    text-align: left;
}








/* 광고 대행 안내 */
.ad-formal-container .product {
    position: relative;
    overflow: hidden;
}
.ad-formal-container .product::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200px;
    left: -200px;
    top: -218px;
    z-index: 1;
    background-color: #f5f7f8;
    transform-origin: left bottom;
    transform: rotate(5.2deg);
}
.ad-formal-container .product-bg {
    background-image: url('../image/92005e7200c42cca0716e8abc0d87b50.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
}
.ad-formal-container .product-layout {
    padding: 240px 287px 120px;
    width: 826px;
    margin: 0 auto;
}
.ad-formal-container .product-wrap {
    text-align: center;
}
.ad-formal-container .product-wrap .contents-wrap .text-cont {
    color: #ffffff;
}
.ad-formal-container .product-wrap .contents-wrap .text-cont .text {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.6px;
    margin-bottom: 16px;
}
.ad-formal-container .product-wrap .contents-wrap .text-cont .desc {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.6px;
    margin-bottom: 56px;
    color: #d3d3d5;
}
.ad-formal-container .product-wrap .contents-wrap .text-cont .point {
    color: #00ac4a;
}
.ad-formal-container .product-wrap .contents-wrap .link {
    display: inline-block;
    width: 553px;
    /* height: 86px; */
    padding: 26px 0;
    font-size: 25px;
    line-height: 34px;
    letter-spacing: -0.6px;
    border-radius: 52px;
    border: 1px solid rgba(3, 199, 90, 0.7);
    color: #00ac4a;
}
.ad-formal-container .product-wrap .contents-wrap .link:hover {
    background-image: linear-gradient(to right, #07d05a, #24beac);
    color: #fff;
}





















/* 
.ad-formal-container .product-info {
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-top: 245px;
    padding-bottom: 152px;
}
.ad-formal-container .product-info::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 770px;
    left: -1480px;
    top: -849px;
    z-index: 1;
    background-color: #f5f7f8;
    transform-origin: left bottom;
    transform: rotate(5.2deg);
} */

/* .ad-formal-container .product-info::after {
    width: 150px;
    height: 100px;
    transform: skew(30deg, 30deg);
    background: red;
    margin: 0 auto;
} */

/* 
.ad-formal-container .product-bg {
    background-image: url('../image/92005e7200c42cca0716e8abc0d87b50.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
}



.ad-formal-container .product-info .title {
    color: #ffffff;
    display: inline-block;
    font-size: 32px;
}
.ad-formal-container .product-info .text {
    margin-top: 16px;
    line-height: 32px;
    color: #d4d4d5;
    font-size: 20px;
}
.ad-formal-container .product-info .text span {
    color: #00ac4a;
}

.ad-formal-container .product-info .link-cont .link {
    width: 556px;
    height: 93px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 60px;
    border-radius: 52px;
    border: 1px solid rgba(3, 199, 90, 0.7);
    font-size: 25px;
    text-align: center;
    line-height: 96px;
    letter-spacing: -0.6px;
    color: #03c75a;
}

.ad-formal-container .product-info .link-cont .link:last-child {
    margin-right: 0;
}

 */



































































































































/* 푸터 */
.footer {
    min-width: 1400px;
    background-color: #000000;
    height: 203px;
}
.footer .footer-layout {
    min-width: 1400px;
    width: 1728px;
    margin: 0 auto;
}

.footer .footer-content {

}

.footer .footer-content .info-wrap {
    display: inline-block;
    margin-top: 60px;
    padding-left: 9px;
}
    
.footer .footer-content .info-wrap .list {
    
}

.footer .footer-content .info-wrap .list::after {
    content: '';    
    display: block;
    clear: both;
}

.footer .footer-content .info-wrap .list .item {
    float: left;
    padding-right: 15px;
    margin-right: 14px;
    position: relative;
}

.footer .footer-content .info-wrap .list .item::after {
    content: '';
    display: block;
    width: 1px;
    height: 12px;
    background-color: #dfe0e1;
    position: absolute;
    right: -1px;
    top: 6px;
    opacity: 0.2;
}

.footer .footer-content .info-wrap .list .item a {
    color: #999999;
    line-height: 24px;
    letter-spacing: -1.6px;
    font-size: 16px;
    font-family: 'NanumSquare, sans-serif';
    font-weight: 700;
}










.footer .footer-content .company-wrap {
    display: block;
    padding-left: 9px;
    margin-top: 14px;
}
    
.footer .footer-content .company-wrap .list {
    
}

.footer .footer-content .company-wrap .list::after {
    content: '';    
    display: block;
    clear: both;
}

.footer .footer-content .company-wrap .list .item {
    float: left;
    padding-right: 17px;
    margin-right: 16px;
    position: relative;
}

.footer .footer-content .company-wrap .list .item::after {
    content: '';
    display: block;
    width: 1px;
    height: 12px;
    background-color: #dfe0e1;
    position: absolute;
    right: -1px;
    top: 6px;
    opacity: 0.2;
}

.footer .footer-content .company-wrap .list .item span {
    color: #767676;
    line-height: 24px;
    letter-spacing: -0.6px;
    line-height: 16px;
    font-size: 13px;
    font-family: 'NanumSquare, sans-serif';
    font-weight: 700;
}










.footer .footer-content .addr-wrap {
    display: block;
    padding-left: 9px;
}
    
.footer .footer-content .addr-wrap .list {
    
}

.footer .footer-content .addr-wrap .list::after {
    content: '';    
    display: block;
    clear: both;
}

.footer .footer-content .addr-wrap .list .item {
    float: left;
    padding-right: 17px;
    margin-right: 16px;
    position: relative;
}

.footer .footer-content .addr-wrap .list .item::after {
    content: '';
    display: block;
    width: 1px;
    height: 12px;
    background-color: #dfe0e1;
    position: absolute;
    right: -1px;
    top: 6px;
    opacity: 0.2;
}

.footer .footer-content .addr-wrap .list .item span {
    color: #767676;
    line-height: 24px;
    letter-spacing: -0.6px;
    line-height: 16px;
    font-size: 13px;
    font-family: 'NanumSquare, sans-serif';
    font-weight: 700;
}










.footer .footer-content .naver-copyright {
    
}

.footer .footer-content .naver-copyright .copyright-wrap {
    text-align: right;
    margin-top: -76px;
    margin-right: 12px;
}

.footer .footer-content .naver-copyright .copyright-wrap .logo {
    background: url('../image/black-and-white-logo.png') no-repeat;
    background-size: 102px 20px;
    display: inline-block;
    width: 102px;
    height: 20px;
    margin-bottom: 10px;
}

.footer .footer-content .naver-copyright .copyright-wrap .text {
    font-size: 14px;
    color: #767676;
    letter-spacing: -0.3px;
}
    
