

.sub-container .sub-detail .detail-wrap .bgi-two::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 40px;
    background-color: #000000;
    background-size: 48px, 48px;
    width: 48px;
    height: 48px;
    background-image: url('../image/ad-set-vis-icon.png');
    z-index: 1;
}



