@charset "utf-8";

.wrap {width: 100%; min-width: 1400px; overflow: hidden;}

/* 비주얼 */
.ad-vertisement-main .visual {
    background-image: linear-gradient(45deg, #2a2c33, #2a2c33);
}

.ad-vertisement-main .visual .text-area .copy {
    padding-right: 17px;
    position: relative;
}

.ad-vertisement-main .visual .text-area .desc {
    color: #9e9e9e;
}

.ad-vertisement-main .visual .text-area .copy::after {
    content: '';
    display: block;
    border-color: #ffffff transparent transparent transparent;
    border-style: solid;
    border-width: 6px;
    position: absolute;
    top: 19px;
    right: -6px;
}

.ad-vertisement-main .visual .bg-one {
    position: absolute;
    left: 18px;
    top: -10px;
    width: 664px;
    height: 100%;
    background-size: 100%;
    background: url('../image/ad-vertisement-main-visual-bg-one.png') no-repeat;
    opacity: 0.3;
}

.ad-vertisement-main .visual .bg-two {
    position: absolute;
    right: -2px;
    top: 0;
    width: 720px;
    height: 100%;
    background: url('../image/ad-vertisement-main-visual-bg-two.png') no-repeat;
    background-size: 100%;
    opacity: 0.3;
}

/* 탭 */
.sub-content .tab-content {
    text-align: center;
    margin-top: 64px;
}

.sub-content .tab-content .tab-menu {
    display: inline-block;
    vertical-align: top;
}

.sub-content .tab-content .tab-menu::after {
    content: '';
    display: block;
    clear: both;
}

.sub-content .tab-content .item {
    float: left;
    margin-right: 14px;
}

.sub-content .tab-content .item::after {
    content: '';
    display: block;
    clear: both;
}

.sub-content .tab-content .item:last-child {
    margin-right: 0;
}

.sub-content .tab-content .link {
    display: block;
    padding: 0 20px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    border: 1px solid #eaeaea;
    border-radius: 32px;
}

/* 탭 - 활성화 */
.sub-content .tab-content .link.on {
    border-color: #03c75a;
    background-color: #03c75a;
    color: #fff;
}




.sub-content .sec-scroll {
    position: relative;
}
.sub-content .sec-cont {
    width: 1080px;
    padding: 0 160px;
    margin: 0 auto;
}
.sub-content .sec-cont .sec-wrap {
    padding: 40px 0 135px 0;
    position: relative;
    height: 932px;
}
.sub-content .sec-cont .sec-wrap::after {
    content: '';
    display: block;
    clear: both;
}

.sub-content .sec-cont .cont-img {
    float: left;
    width: 340px;
    height:676px;
    position: absolute;
    top: 88px;
    left: 180px;
}
.sub-content .sec-cont .cont-img img {
    width: 100%;
    vertical-align: top;
}

.sub-content .sec-cont .text-area {
    float: right;
    position: absolute;
    top: 260px;
    right: 120px;
}
.sub-content .sec-cont .text-color {
    color: #ffffff;
}

.sub-content .sec-cont .text-area .text {
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 16px;
    margin-right: 4px;
    line-height: 60px;
    letter-spacing: -1.2px;
}
.sub-content .sec-cont .text-area .title {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: -0.6px;
    line-height: 24px;
    font-size: 14px;
    border: 1px solid #00ac4a;
    color: #00ac4a;
    border-radius: 32px;
    margin-bottom: 16px;
    padding: 4px 12px;
}

.sub-content .sec-cont .text-area .title-point {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.sub-content .sec-cont .text-area .desc {
    line-height: 28px;
    letter-spacing: -0.6px;
    margin-bottom: 24px;
}

.sub-content .sec-cont .text-area .point {
    display: block;
    font-size: 14px;
    color: #00ac4a;
    font-weight: 700;
    margin-bottom: 6px;
    
}

.sub-content .sec-cont .text-area .point-text {
    color: #ffffff;
}

.sub-content .sec-cont .text-area .point-desc    {
    font-size: 14px;
    margin-bottom: 12px;
}

.sub-content .cont-color {
    position: absolute;
    top: 205px;
    left: 0;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(100deg, #00c652, #00c5ae);
    z-index: -1;
}

.sub-content .cont-box {}
.sub-content .cont-box .box {
    width: 1080px;
    padding: 0 160px;
    margin: 0 auto;
}
.sub-content .cont-box .box .box-wrap {
    text-align: center;
}

.sub-content .cont-box .box .box-text {
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 16px;
    margin-right: 4px;
    line-height: 60px;
    letter-spacing: -1.2px;
}
.sub-content .cont-box .box .box-point {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: -0.6px;
    line-height: 24px;
    font-size: 14px;
    border: 1px solid #00ac4a;
    color: #00ac4a;
    border-radius: 32px;
    margin-bottom: 16px;
    padding: 4px 12px;
}
.sub-content .cont-box .box .box-desc {
    line-height: 28px;
    letter-spacing: -0.6px;
    margin-bottom: 40px;
}

.sub-content .cont-box .box .box-img {}
.sub-content .cont-box .box .box-img img {
    width: 100%;
    vertical-align: top;
}
.sub-content .cont-box .box-bg-img {
    background: url('../image/box-cont-imgs (17).jpg') no-repeat;
    width: 100%;
    height: 1224px;
    background-size: 100%, 1124px;
}
.sub-content .cont-box .box-wrap {
    padding-top: 180px;
}


.sub-content .box-bg {
    position: relative;
    overflow: hidden;
}
.sub-content .box-bg .diagonal-one {
    position: absolute;
    width: 120%;
    height: 480px;
    left: 0;
    top: -480px;
    z-index: 1;
    background-color: #fff;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}
.sub-content .box-bg .diagonal-two {
    position: absolute;
    right: 0;
    bottom: -350px;
    top: auto;
    left: auto;
    width: 120%;
    height: 400px;
    background-color: #fff;
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    z-index: 1;
}

.sub-content .box-bg .box-wrap {
    color: #ffffff;
}
.sub-content .box-bg .box-wrap .box-text {}
.sub-content .box-bg .box-wrap .box-point {
    color: #ffffff;
    border: 1px solid #ffffff;
}
.sub-content .box-bg .box-wrap .box-desc {}


.sub-content .cont-ad {
    position: relative;
    height: 440px;
    background-color: #f5f7f8;
}
.sub-content .cont-ad .ad-box {
    padding: 118px 96px 119px;
    overflow: hidden;
}
.sub-content .cont-ad .box-wrap {
    position: relative;
    width: 200%;
    height: 203px;
}

.sub-content .cont-ad .box-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
}
.sub-content .cont-ad .box-list::after {
    content: '';
    display: block;
    clear: both;
}

.sub-content .cont-ad .list-box {
    float: left;
    margin-right: 20px;
    width: 320px;
    height: 203px;
    position: relative;
}


.sub-content .cont-ad .box-link {
    display: block;
    width: 100%;
    height: 203px;
    background-size: 100%, 203px;
    background-size: cover;

}
.sub-content .cont-ad .box-link.on {
    border: 8px solid #03c75a;
    box-sizing: border-box;
}
.sub-content .cont-ad .box-point {
    font-size: 24px;
    color: #ffffff;
    position: absolute;
    left: 32px;
    bottom: 32px;
}

.sub-content .cont-ad .link-img01 {background: url('../image/box-cont-imgs01.jpg') no-repeat; background-size: cover;}
.sub-content .cont-ad .link-img02 {background: url('../image/box-cont-imgs02.jpg') no-repeat; background-size: cover;}
.sub-content .cont-ad .link-img03 {background: url('../image/box-cont-imgs03.jpg') no-repeat; background-size: cover;}
.sub-content .cont-ad .link-img04 {background: url('../image/box-cont-imgs04.jpg') no-repeat; background-size: cover;}
.sub-content .cont-ad .link-img05 {background: url('../image/box-cont-imgs05.jpg') no-repeat; background-size: cover;}
.sub-content .cont-ad .link-img06 {background: url('../image/box-cont-imgs06.jpg') no-repeat; background-size: cover;}
.sub-content .cont-ad .link-img07 {background: url('../image/box-cont-imgs07.png') no-repeat; background-size: cover;}
.sub-content .cont-ad .link-img08 {background: url('../image/box-cont-imgs08.png') no-repeat; background-size: cover;}

.sub-content .cont-ad .slide-control {

}

.sub-content .cont-ad .slide-control .prev {
    display: inline-block;
    width: 48px;
    height: 64px;
    background-color: #d0d2d3;
    opacity: 0.7;
    position: absolute;
    top: 186px;
    left: 0;
}
.sub-content .cont-ad .slide-control .prev::after {
    content: '';
    width: 16px; /* 사이즈 */
    height: 16px; /* 사이즈 */
    border-top: 2px solid #fff; /* 선 두께 */
    border-right: 2px solid #fff; /* 선 두께 */
    display: inline-block;
    transform: rotate(225deg); /* 각도 */
    position: absolute;
    top: 20px; /* 기본 0px 값으로 해주세요 */
    left: 18px; /* 기본 0px 값으로 해주세요 */
}

.sub-content .cont-ad .slide-control .next {
    display: inline-block;
    width: 48px;
    height: 64px;
    background-color: #d0d2d3;
    opacity: 0.7;
    position: absolute;
    top: 186px;
    right: 0;
}

.sub-content .cont-ad .slide-control .next::after {
    content: '';
    width: 16px; /* 사이즈 */
    height: 16px; /* 사이즈 */
    border-top: 2px solid #fff; /* 선 두께 */
    border-right: 2px solid #fff; /* 선 두께 */
    display: inline-block;
    transform: rotate(45deg); /* 각도 */
    position: absolute;
    top: 20px; /* 기본 0px 값으로 해주세요 */
    right: 18px; /* 기본 0px 값으로 해주세요 */
}

.sub-content .box-info {
    background-image: linear-gradient(282deg, #00c652, #00c5ae);
}
.sub-content .box-info .info {
    padding: 115px 300px 120px;
    margin: 0 auto;
    width: 1298px;
}
.sub-content .box-info .info-wrap {
    display: inline-block;
}
.sub-content .box-info .info-wrap .title {
    color: #ffffff;
    margin-top: 4px;
    margin-bottom: 36px;
    display: block;
    font-size: 31px;
    text-align: center;
}

.sub-content .box-info .info-wrap .link-cont {
    text-align: center;
    margin: 0 auto;
}

.sub-content .box-info .info-wrap .link {
    border: 1px solid #ffffff;
    border-radius: 52px;
    margin-right: 22px;
    width: 636px;
    height: 93px;
    display: block;
    float: left;
    transition: all ease 0.3s;
}
.sub-content .box-info .info-wrap .link:hover {
    background-color: #fff;
}
.sub-content .box-info .info-wrap .link:hover > span {
    color: #00ac4a;
}
.sub-content .box-info .info-wrap .link:hover > span::after {
    border-top: 1px solid #00ac4a;
    border-right: 1px solid #00ac4a;
}

.sub-content .box-info .info-wrap .link:last-child {
    margin-right: 0;
}

.sub-content .box-info .info-wrap .link > span {
    margin-top: 30px;
    display: inline-block;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0.4px;
    word-spacing: -0.7px;
    font-weight: 700;
    padding-right: 33px;
    position: relative;

}

.sub-content .box-info .info-wrap .link > span::after {
    content: '';
    width: 13px;
    height: 13px;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    top: 11px;
    right: 9px; 
}
