@charset "utf-8";

.sub-container .visual {
    background-image: linear-gradient(45deg, #2a2c33, #2a2c33);
}

.sub-container .visual .content-wrap .text-area .copy {
    padding-right: 22px;
    position: relative;
}

.sub-container .visual .content-wrap .text-area .copy::after {
    content: '';
    display: block;
    border-color: #ffffff transparent transparent transparent;
    border-style: solid;
    border-width: 7px;
    position: absolute;
    top: 18px;
    right: -3px;
}

/* .sub-container .visual .content-wrap .bgi-one {
    position: absolute;
    left: 0;
    top: 0;
    width: 600px;
    height: 180px;
    background-size: 600px 180px;
    background: url('../image/sub-dep3-visual-bg-one.png') no-repeat;
}

.sub-container .visual .content-wrap .bgi-two {
    position: absolute;
    right: 0;
    top: 0;
    width: 600px;
    height: 180px;
    background-size: 600px 180px;
    background: url('../image/sub-dep3-visual-bg-two.png') no-repeat;
} */





/* 콘텐츠 */
.sub-content .key-aera {
    width: 806px;
    padding: 64px 297px;
    margin: 0 auto;
}
.sub-content .key-aera .list {}
.sub-content .key-aera .list::after {
    content: '';
    display: block;
    clear: both;
}
.sub-content .key-aera .list .item {
    float: left;
    margin-right: 14px;    
}
.sub-content .key-aera .list .item::after {
    content: '';
    display: block;
    clear: both;
}

.sub-content .key-aera .list .item .link {
    display: block;
    border: 1px solid #999999;
    border-radius: 32px;
    padding: 12px 18px;
    font-size: 14px;
}

.sub-content .key-aera .list .item .link.on {
    background-color: blue;
    color: #ffffff;
}




.sub-content .sec-scroll {
    position: relative;
}
.sub-content .sec-cont {
    width: 1080px;
    padding: 0 160px;
    margin: 0 auto;
}
.sub-content .sec-cont .sec-wrap {
    padding: 40px 0 135px 0;
    position: relative;
    height: 932px;
}
.sub-content .sec-cont .sec-wrap::after {
    content: '';
    display: block;
    clear: both;
}

.sub-content .sec-cont .cont-img {
    float: left;
    width: 340px;
    height:676px;
    position: absolute;
    top: 88px;
    left: 180px;
}
.sub-content .sec-cont .cont-img img {
    width: 100%;
    vertical-align: top;
}

.sub-content .sec-cont .text-area {
    float: right;
    position: absolute;
    top: 260px;
    right: 120px;
}
.sub-content .sec-cont .text-color {
    color: #ffffff;
}

.sub-content .sec-cont .text-area .text {
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 16px;
    margin-right: 4px;
    line-height: 60px;
    letter-spacing: -1.2px;
}
.sub-content .sec-cont .text-area .title {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: -0.6px;
    line-height: 24px;
    font-size: 14px;
    border: 1px solid #00ac4a;
    color: #00ac4a;
    border-radius: 32px;
    margin-bottom: 16px;
    padding: 4px 12px;
}

.sub-content .sec-cont .text-area .title-point {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.sub-content .sec-cont .text-area .desc {
    line-height: 28px;
    letter-spacing: -0.6px;
    margin-bottom: 24px;
}

.sub-content .sec-cont .text-area .point {
    display: block;
    font-size: 14px;
    color: #00ac4a;
    font-weight: 700;
    margin-bottom: 6px;
    
}

.sub-content .sec-cont .text-area .point-text {
    color: #ffffff;
}

.sub-content .sec-cont .text-area .point-desc    {
    font-size: 14px;
    margin-bottom: 12px;
}

.sub-content .cont-color {
    position: absolute;
    top: 205px;
    left: 0;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(100deg, #00c652, #00c5ae);
    z-index: -1;
}

.sub-content .cont-box {}
.sub-content .cont-box .box {
    width: 1080px;
    padding: 0 160px;
    margin: 0 auto;
}
.sub-content .cont-box .box .box-wrap {
    text-align: center;
}

.sub-content .cont-box .box .box-text {
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 16px;
    margin-right: 4px;
    line-height: 60px;
    letter-spacing: -1.2px;
}
.sub-content .cont-box .box .box-point {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: -0.6px;
    line-height: 24px;
    font-size: 14px;
    border: 1px solid #00ac4a;
    color: #00ac4a;
    border-radius: 32px;
    margin-bottom: 16px;
    padding: 4px 12px;
}
.sub-content .cont-box .box .box-desc {
    line-height: 28px;
    letter-spacing: -0.6px;
    margin-bottom: 40px;
}

.sub-content .cont-box .box .box-img {}
.sub-content .cont-box .box .box-img img {
    width: 100%;
    vertical-align: top;
}
.sub-content .cont-box .box-bg-img {
    background: url('../image/box-cont-imgs (17).jpg') no-repeat;
    width: 100%;
    height: 1224px;
    background-size: 100%, 1124px;
}
.sub-content .cont-box .box-wrap {
    padding-top: 180px;
}


.sub-content .box-bg {
    position: relative;
    overflow: hidden;
}
.sub-content .box-bg .diagonal-one {
    position: absolute;
    width: 120%;
    height: 480px;
    left: 0;
    top: -480px;
    z-index: 1;
    background-color: #fff;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}
.sub-content .box-bg .diagonal-two {
    position: absolute;
    right: 0;
    bottom: -350px;
    top: auto;
    left: auto;
    width: 120%;
    height: 400px;
    background-color: #fff;
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    z-index: 1;
}

.sub-content .box-bg .box-wrap {
    color: #ffffff;
}
.sub-content .box-bg .box-wrap .box-text {}
.sub-content .box-bg .box-wrap .box-point {
    color: #ffffff;
    border: 1px solid #ffffff;
}
.sub-content .box-bg .box-wrap .box-desc {}


.sub-content .cont-ad {
    background-color: #f5f7f8;
}
.sub-content .cont-ad .ad-box {
    padding: 118px 96px 119px;
    overflow: hidden;
}
.sub-content .cont-ad .box-wrap {
    position: relative;
    height: 203px;
}

.sub-content .cont-ad .box-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
}
.sub-content .cont-ad .box-list::after {
    content: '';
    display: block;
    clear: both;
}

.sub-content .cont-ad .list-box {
    float: left;
    margin-right: 20px;
    width: 320px;
    height: 203px;
}

.sub-content .cont-ad .box-link {
    display: block;
    width: 100%;
    height: 203px;
    background-size: 100%, 203px;
    background-size: cover;

}

.sub-content .cont-ad .link-img01 {background: url('../image/box-cont-imgs01.jpg') no-repeat; background-size: cover;}
.sub-content .cont-ad .link-img02 {background: url('../image/box-cont-imgs02.jpg') no-repeat; background-size: cover;}
.sub-content .cont-ad .link-img03 {background: url('../image/box-cont-imgs03.jpg') no-repeat; background-size: cover;}
.sub-content .cont-ad .link-img04 {background: url('../image/box-cont-imgs04.jpg') no-repeat; background-size: cover;}
.sub-content .cont-ad .link-img05 {background: url('../image/box-cont-imgs05.jpg') no-repeat; background-size: cover;}
.sub-content .cont-ad .link-img06 {background: url('../image/box-cont-imgs06.jpg') no-repeat; background-size: cover;}
.sub-content .cont-ad .link-img07 {background: url('../image/box-cont-imgs07.png') no-repeat; background-size: cover;}
.sub-content .cont-ad .link-img08 {background: url('../image/box-cont-imgs08.png') no-repeat; background-size: cover;}
