@charset "utf-8";


.wrap {width: 100%; min-width: 1748px; padding-top: 89px; overflow: hidden;}
.inner {width: 1748px; margin: 0 auto;}
.row {padding: 0 20px;}













/* 헤더 */
.header {
    position: relative;
}

.header-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 7;
    background-color: #ffffff;
    border-bottom: 1px solid #f7f7f7;
    /* overflow: hidden; */
    /* height: 89px; */
}


.header-contents::after {
    content: '';
    display: block;
    clear: both;
}

/* 헤더 - 로고 */
.header-contents .logo {
    width: 222px;
    float: left;
    margin-top: 32px;
}
.header-contents .logo .logo-link {
    background: url('../image/logo.png') no-repeat;
    width: 222px;
    height: 22px;
    background-size: 222px, 22px;
    display: block;
}

/* 헤더 - GNB */
.header-contents .gnb {
    width: 1446px;
    float: left;
}
.header-contents .gnb .menu {
    padding-left: 82px;
}
.header-contents .gnb .menu::after {
    content: '';
    display: block;
    clear: both;
}
.header-contents .gnb .menu .list {
    font-size: 17px;
    color: #333333;
    float: left;
    margin-right: 60px;
    height: 89px;
    line-height: 89px;
}

.header-contents .gnb .menu .list a {
    display: block;
    font-family: 'NanumSquare';
    font-weight: 400;
    padding: 0 2px;
    letter-spacing: -0.56px;
    color: #333333;
    position: relative;
}


.header-contents .gnb .menu .list a::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 24px;
    background-color: #03c75a;
    transition: width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header-contents .gnb .menu .list a:hover::after {
    width: 100%;
}

/* 서브페이지 이동 */
.header-contents .gnb .gnb-lnb {
    height: 62px;
    border-bottom: 1px solid #dcdcdc;
    background-color: #fff;
    width: 100%;
    position: absolute;
    bottom: -64px;
    left: 0;
    right: 0;
    z-index: 100;
    display: none;
}

.header-contents .gnb .lnb-on {
    display: block;
}

.header-contents .gnb .gnb-lnb .menu {
    padding-left: 0;
}

.header-contents .gnb .gnb-lnb .menu::after {
    content: '';
    display: block;
    clear: both;
}
.header-contents .gnb .gnb-lnb .menu-ad-product {padding-left: 227px;}
.header-contents .gnb .gnb-lnb .menu-new {padding-left: 681px;}

.header-contents .gnb .gnb-lnb .menu .item {
    float: left;
    line-height: 62px;
    margin-right: 48px;
}

.header-contents .gnb .gnb-lnb .menu .item a {
    font-size: 16px;
    letter-spacing: -0.6px;
}

.header-contents .gnb .gnb-lnb .menu .item a::after {
    content: none;
}








/* 현재 보고 있는 페이지 css 부분 */
.header-contents .gnb .menu .list-view a {
    font-weight: 700;
    color: #000000;
    position: relative;
}

.header-contents .gnb .menu .list-view a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 24px;
    background-color: #03c75a;
}

/* 헤더 - 광고리스트 메뉴 */
.header-contents .all-menu {
    width: 40px;
    float: left;
    margin-top: 34px;
}
.header-contents .all-menu a {
    display: block;
    padding: 0 10px;
}
.header-contents .all-menu a .ad-link {
    background: url('../image/all-menu.png') no-repeat;
    width: 20px;
    height: 20px;
    background-size: 20px, 20px;
    display: inline-block;
    vertical-align: top;
}






/* 서브 페이지 - 주요 특징 */
/* ----------------------- */

/* 주요 특징 - 비주얼 */
.sub-overview .visual {
    background-image: linear-gradient(to right, #07d05a, #24beac);
    padding-top: 42px;
    padding-bottom: 52px;
    position: relative;
}

.sub-overview .visual .bg01 {
    content: '';
    background: url('../image/sub-overview-visual-bg01.png') no-repeat;
    background-size: 600px 180px;
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 180px;
}

.sub-overview .visual .bg02 {
    content: '';
    background: url('../image/sub-overview-visual-bg02.png') no-repeat;
    background-size: 600px 180px;
    position: absolute;
    top: 0;
    right: 0;
    width: 600px;
    height: 180px;
}

.sub-overview .visual .content-wrap {
    text-align: center;
}

.sub-overview .visual .sub-title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.68px;
    color: #ffffff;
    margin-bottom: 8px;
}

.sub-overview .visual .sub-text {
    font-size: 16px;
    color: #ffffff;
}



















/* 백그라운드 배경 고정 콘텐츠 */
.sub-overview .fixed-scroll-box {
    height: 1175px;
}
.sub-overview .fixed-scroll-bg {
    background: url('../image/fixed-scroll-img.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
}
.sub-overview .fixed-scroll-box .product {
    height: 668px;
}
.sub-overview .fixed-scroll-box .product .electronics {
    width: 1305px;
    margin: 0 auto;
    position: relative;
}
.sub-overview .fixed-scroll-box .product .electronics .tablet {
    width: 488px;
    height: 350px;
    position: absolute;
    top: 254px;
    left: 80px;
    z-index: 1;
}
.sub-overview .fixed-scroll-box .product .electronics .pc {
    width: 853px;
    height: 456px;
    position: absolute;
    top: 152px;
    left: 300px;
    z-index: 2;
}
.sub-overview .fixed-scroll-box .product .electronics .mobile {
    width: 148px;
    height: 278px;
    position: absolute;
    top: 342px;
    right: 172px;
    z-index: 5;
}
.sub-overview .fixed-scroll-box .product .electronics .mobile-page-01 {
    width: 136px;
    height: 249px;
    position: absolute;
    top: 350px;
    right: 41px;
    z-index: 4;
}
.sub-overview .fixed-scroll-box .product .electronics .mobile-page-02 {
    width: 136px;
    height: 249px;
    position: absolute;
    top: 350px;
    right: -95px;
    z-index: 3;
}
.sub-overview .fixed-scroll-box .reach {
    height: 507px;
}
.sub-overview .fixed-scroll-box .reach .corp {
    font-size: 42px;
    text-align: center;
    color: #fefefe;
    line-height: 60px;
    letter-spacing: -1.2px;
    margin-bottom: 32px;
}
.sub-overview .fixed-scroll-box .reach .corp .point {
    font-weight: 800;
}
.sub-overview .fixed-scroll-box .reach .desc {
    color: #c0c1c2;
    text-align: center;
    line-height: 30px;
    letter-spacing: -0.6px;
    font-size: 18px;
    margin-bottom: 60px;
}
.sub-overview .fixed-scroll-box .reach .link-cont {
    text-align: center;
}
.sub-overview .fixed-scroll-box .reach .link-cont .link {
    display: inline-block;
    padding: 0 40px;
    border: 1px solid rgba(3, 199, 90, 0.7);
    letter-spacing: -0.6px;
    border: 1px solid rgba(0, 172, 75, 0.7);
    border-radius: 32px;
    height: 56px;
    line-height: 56px;
    margin: 0 8px;
}
.sub-overview .fixed-scroll-box .reach .link-cont .link:hover {
    color: #ffffff;
    background-image: linear-gradient(to right, #07d05a, #24beac);
}
.sub-overview .fixed-scroll-box .reach .link-cont .link .text {
    padding-right: 16px;
    color: #00ac4a;
    position: relative;
}
.sub-overview .fixed-scroll-box .reach .link-cont .link .text::after {
    content: '';
    width: 8px;
    height: 8px;
    border-top: 1px solid #00ac4a;
    border-right: 1px solid #00ac4a;
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    right: 0px;
}
/* 서브페이지 광고상품소개 비주얼 */
.advertisement-list-page .visual .cont {
    position: relative;
}
.advertisement-list-page .visual .cont .bg-01 {
    background-image: url('../image/advertisement-list-page-visual-cont-bg-01.png');
    background-repeat: no-repeat;
    background-size: 664px, 240px;
    width: 664px;
    height: 240px;
    position: absolute;
    top: 0;
    left: 0;
}
.advertisement-list-page .visual .cont .bg-02 {
    background-image: url('../image/advertisement-list-page-visual-cont-bg-02.png');
    background-repeat: no-repeat;
    background-size: 720px 180px;
    width: 720px;
    height: 180px;
    position: absolute;
    top: 0;
    right: 0;
}
/* 광고상품소개 - 목록 */

/* 목록 콘텐츠 */
.advertisement-list-page .ad-product-cont {
    width: 1296px;
    margin: 0 auto;
    padding-top: 120px;
    position: relative;
}
.advertisement-list-page .ad-product-cont ul::after {
    content: '';
    display: block;
    clear: both;
}
.advertisement-list-page .ad-product-cont li {
    float: left;
    margin-right: 24px;
    margin-bottom: 24px;
}
.advertisement-list-page .ad-product-cont li:nth-child(2n) {
    margin-right: 0;
}

.advertisement-list-page .ad-product-cont .item a {
    position: relative;
    display: block;
}

.advertisement-list-page .ad-product-cont .text-cont {
    position: absolute;
    left: 40px;
    bottom: 56px;
    color: #ffffff;
}

.advertisement-list-page .ad-product-cont .text-cont .title {
    font-size: 32px;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: -0.6px;
}

.advertisement-list-page .ad-product-cont .text-cont .text {
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1px 12px;
    margin: 6px 0 6px;
    line-height: 24px;
    display: inline-block;
    border-radius: 16px;
    letter-spacing: -0.6px;
}

.advertisement-list-page .ad-product-cont .text-cont .desc {
    margin-top: 12px;
    line-height: 28px;
    letter-spacing: -0.6px;
}

/* 목록 콘텐츠 이미지 */
.advertisement-list-page .ad-product-cont .main-ad-img {background-image: url('../image/main-ad-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list-page .ad-product-cont .sub-ad-img {background-image: url('../image/sub-ad-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list-page .ad-product-cont .topic-ad-img {background-image: url('../image/topic-ad-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list-page .ad-product-cont .video-ad-img {background-image: url('../image/video-ad-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list-page .ad-product-cont .search-ad-img {background-image: url('../image/search-ad-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list-page .ad-product-cont .band-ad-img {background-image: url('../image/band-ad-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list-page .ad-product-cont .webtoon-ad-img {background-image: url('../image/webtoon-ad-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list-page .ad-product-cont .influencer-ad-img {background-image: url('../image/influencer-ad-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}










/* 상품 상세정보 보기 */
.advertisement-list-page .product-info {
    background-color: #222222;
    text-align: center;
    padding: 211px 72px 120px;
    position: relative;
    overflow: hidden;
    margin-top: 132px;
}

.advertisement-list-page .product-info .title {
    color: #ffffff;
    margin-bottom: 40px;
    display: inline-block;
    font-size: 32px;
}

.advertisement-list-page .product-info .link-cont .link {
    height: 93px;
    display: inline-block;
    padding: 0 160px;
    margin-right: 20px;
    border-radius: 52px;
    border: 1px solid rgba(3, 199, 90, 0.7);
    font-size: 25px;
    text-align: center;
    line-height: 96px;
    letter-spacing: -0.6px;
    color: #03c75a;
}

.advertisement-list-page .product-info .link-cont .link:last-child {
    margin-right: 0;
}

.advertisement-list-page .product-info .rotate_bg {
    position: absolute;
    width: 200%;
    height: 200%;
    left: -47px;
    top: -1032px;
    background-color: #fff;
    transform-origin: left bottom;
    transform: rotate(5.2deg);
    z-index: 1;
}




































































































/* 푸터 */
.footer {
    background-color: #000000;
    height: 203px;
}
.footer .footer-layout {
    width: 1728px;
    margin: 0 auto;
}

.footer .footer-content {

}

.footer .footer-content .info-wrap {
    display: inline-block;
    margin-top: 60px;
    padding-left: 9px;
}
    
.footer .footer-content .info-wrap .list {
    
}

.footer .footer-content .info-wrap .list::after {
    content: '';    
    display: block;
    clear: both;
}

.footer .footer-content .info-wrap .list .item {
    float: left;
    padding-right: 15px;
    margin-right: 14px;
    position: relative;
}

.footer .footer-content .info-wrap .list .item::after {
    content: '';
    display: block;
    width: 1px;
    height: 12px;
    background-color: #dfe0e1;
    position: absolute;
    right: -1px;
    top: 6px;
    opacity: 0.2;
}

.footer .footer-content .info-wrap .list .item a {
    color: #999999;
    line-height: 24px;
    letter-spacing: -1.6px;
    font-size: 16px;
    font-family: 'NanumSquare, sans-serif';
    font-weight: 700;
}










.footer .footer-content .company-wrap {
    display: block;
    padding-left: 9px;
    margin-top: 14px;
}
    
.footer .footer-content .company-wrap .list {
    
}

.footer .footer-content .company-wrap .list::after {
    content: '';    
    display: block;
    clear: both;
}

.footer .footer-content .company-wrap .list .item {
    float: left;
    padding-right: 17px;
    margin-right: 16px;
    position: relative;
}

.footer .footer-content .company-wrap .list .item::after {
    content: '';
    display: block;
    width: 1px;
    height: 12px;
    background-color: #dfe0e1;
    position: absolute;
    right: -1px;
    top: 6px;
    opacity: 0.2;
}

.footer .footer-content .company-wrap .list .item span {
    color: #767676;
    line-height: 24px;
    letter-spacing: -0.6px;
    line-height: 16px;
    font-size: 13px;
    font-family: 'NanumSquare, sans-serif';
    font-weight: 700;
}










.footer .footer-content .addr-wrap {
    display: block;
    padding-left: 9px;
}
    
.footer .footer-content .addr-wrap .list {
    
}

.footer .footer-content .addr-wrap .list::after {
    content: '';    
    display: block;
    clear: both;
}

.footer .footer-content .addr-wrap .list .item {
    float: left;
    padding-right: 17px;
    margin-right: 16px;
    position: relative;
}

.footer .footer-content .addr-wrap .list .item::after {
    content: '';
    display: block;
    width: 1px;
    height: 12px;
    background-color: #dfe0e1;
    position: absolute;
    right: -1px;
    top: 6px;
    opacity: 0.2;
}

.footer .footer-content .addr-wrap .list .item span {
    color: #767676;
    line-height: 24px;
    letter-spacing: -0.6px;
    line-height: 16px;
    font-size: 13px;
    font-family: 'NanumSquare, sans-serif';
    font-weight: 700;
}










.footer .footer-content .naver-copyright {
    
}

.footer .footer-content .naver-copyright .copyright-wrap {
    text-align: right;
    margin-top: -76px;
    margin-right: 12px;
}

.footer .footer-content .naver-copyright .copyright-wrap .logo {
    background: url('../image/black-and-white-logo.png') no-repeat;
    background-size: 102px 20px;
    display: inline-block;
    width: 102px;
    height: 20px;
    margin-bottom: 10px;
}

.footer .footer-content .naver-copyright .copyright-wrap .text {
    font-size: 14px;
    color: #767676;
    letter-spacing: -0.3px;
}
    
