@charset "utf-8";

.wrap {width: 100%; min-width: 1748px; overflow: hidden;}

/* 비주얼 */
.sub-container .visual .bg-one {
    background: url('../image/one.png') no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    background-size: 600px 180px;
    width: 600px;
    height: 180px;
}

.sub-container .visual .bg-two {
    background: url('../image/two.png') no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    background-size: 600px 180px;
    width: 600px;
    height: 180px;
}

/* 광고 상품 목록 */
.advertisement-list .product-list-content {
    width: 1296px;
    margin: 0 auto;
    padding-top: 120px;
    position: relative;
}

.advertisement-list .product-list-content .list::after {
    content: '';
    display: block;
    clear: both;
}

.advertisement-list .product-list-content .item {
    float: left;
    margin-right: 24px;
}

.advertisement-list .product-list-content .item + .item {
    margin-top: 24px;
}

.advertisement-list .product-list-content .item:nth-child(1) {
    margin-top: 0px;
}

.advertisement-list .product-list-content .item:nth-child(2) {
    margin-top: 0px;
}

.advertisement-list .product-list-content .item:nth-child(2n) {
    margin-right: 0;
}

.advertisement-list .product-list-content .item a {
    position: relative;
    display: block;
}

.advertisement-list .product-list-content .text-cont {
    position: absolute;
    left: 40px;
    bottom: 48px;
    color: #ffffff;
}

.advertisement-list .product-list-content .title {
    font-size: 32px;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: -0.6px;
    margin-top: 2px;
    margin-right: 8px;
}

.advertisement-list .product-list-content .text {
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1px 11px;
    line-height: 24px;
    display: inline-block;
    border-radius: 16px;
    letter-spacing: -0.6px;
    color: #ffffff;
}

.advertisement-list .product-list-content .desc {
    margin-top: 5px;
    line-height: 28px;
    letter-spacing: -0.6px;
}

/* 광고 상품 목록 - 이미지 */
.advertisement-list .product-list-content .main-ad-img {background-image: url('../image/advertisement-list-product-list-main-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list .product-list-content .sub-ad-img {background-image: url('../image/advertisement-list-product-list-sub-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list .product-list-content .topic-ad-img {background-image: url('../image/advertisement-list-product-list-topic-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list .product-list-content .video-ad-img {background-image: url('../image/advertisement-list-product-list-video-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list .product-list-content .search-ad-img {background-image: url('../image/advertisement-list-product-list-search-img.png'); width: 636px; height: 404px; background-size: 636px, 404px; background-position: 30px;}
.advertisement-list .product-list-content .band-ad-img {background-image: url('../image/advertisement-list-product-list-band-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list .product-list-content .webtoon-ad-img {background-image: url('../image/advertisement-list-product-list-webtoon-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list .product-list-content .influencer-ad-img {background-image: url('../image/advertisement-list-product-list-influencer-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}

/* 상품 상세정보 보기 */
.advertisement-list .product-info {
    min-width: 1400px;
    background-color: #22222a;
    margin-top: 129px;
    position: relative;
    overflow: hidden;
}

.advertisement-list .product-inner {
    width: 1298px;
    margin: 0 auto;
    padding: 205px 51px 120px;
    overflow: hidden;
}

.advertisement-list .product-content {
    display: inline-block;
}

.advertisement-list .product-content .title {
    color: #ffffff;
    margin-top: 4px;
    margin-bottom: 36px;
    display: block;
    font-size: 31px;
    text-align: center;
}

.advertisement-list .product-content .link-content {
    text-align: center;
    margin: 0 auto;
}

.advertisement-list .product-content .link-content::after {
    content: '';
    display: block;
    clear: both;
}

.advertisement-list .product-content .link {
    border: 1px solid #17ba5a;
    border-radius: 52px;
    margin-right: 22px;
    width: 636px;
    height: 93px;
    display: block;
    float: left;
}

.advertisement-list .product-content .link:hover {
    background-image: linear-gradient(to right, #07d05a, #24beac);
}

.advertisement-list .product-content .link:hover > span {
    color: #fff;
}

.advertisement-list .product-content .link:hover > span::after {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.advertisement-list .product-content .link:last-child {
    margin-right: 0;
}

.advertisement-list .product-content .link-text {
    margin-top: 30px;
    display: inline-block;
    color: #17ba5a;
    font-size: 24px;
    letter-spacing: 0.4px;
    word-spacing: -0.7px;
    font-weight: 700;
    padding-right: 33px;
    position: relative;
}

.advertisement-list .product-content .link-text::after {
    content: '';
    width: 13px;
    height: 13px;
    border-top: 1px solid #01ac4b;
    border-right: 1px solid #01ac4b;
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    top: 11px;
    right: 9px;
}

.advertisement-list .product-content .rotate_bg {
    position: absolute;
    width: 200%;
    height: 100%;
    left: -47px;
    top: -506px;
    background-color: #fff;
    transform-origin: left bottom;
    transform: rotate(5.2deg);
    z-index: 1;
}
