@charset "UTF-8";

.main-container .visual {
    position: relative;
    height: 900px;
}

.main-container .visual-slide .prev {
    display: block;
    background: url('../image/main/main-visual-arr-prev.png') no-repeat;
    background-size: cover;
    width: 56px;
    height: 56px;
    position: absolute;
    top: 440px;
    left: 56px;
}

.main-container .visual-slide .next {
    display: block;
    background: url('../image/main/main-visual-arr-next.png') no-repeat;
    background-size: cover;
    width: 56px;
    height: 56px;
    position: absolute;
    top: 440px;
    right: 56px;
}

.main-container .visual-slide .slide-control {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
}

.main-container .visual-slide .control-item::after {
    content: '';
    display: block;
    clear: both;
}

.main-container .visual-slide .slide-control .item {
    float: left;
    margin-right: 16px;
}

.main-container .visual-slide .slide-control .item:last-child {
    margin-right: 0;
}

.main-container .visual-slide .slide-control .circle {
    width: 10px;
    height: 10px;
    background-color: #aaa;
    border-radius: 32px;
    display: block;
}

.main-container .visual-slide .slide-control .item.on .circle {
    width: 36px;
    background-color: #fff;
}

.main-container .visual-slide .slide-bg {
    background: url('../image/main/main-visual-img01.jpg') no-repeat center ;
    width: 100%;
    height: 900px;
    background-size: cover;
    position: relative;
    z-index: -1;
}

.main-container .visual-slide .slide-text .content {
    position: absolute;
    top: 380px;
    left: 260px;
}

.main-container .visual-slide .slide-text .title {
    font-size: 56px;
    line-height: 100%;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 60px;
}

.main-container .visual-slide .slide-text .desc {
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    margin-bottom: 24px;
}

.main-container .visual-slide .slide-text .link-wrap {
    width: 137px;
    height: 46px;
    border-radius: 32px;
    background-image: linear-gradient(100deg, #00c652, #00c5ae);
}

.main-container .visual-slide .slide-text .more {
    display: block;
    font-size: 15px;
    color: #ffffff;
    line-height: 46px;
    text-align: center;
}
