@charset "UTF-8";

.wrap {width: 100%; min-width: 1400px; overflow: hidden;}

/* 
----------
메인
----------
*/

/* 비주얼 */
.main .visual {
    position: relative;
    height: 900px;
}

.main .visual-slide .prev {
    display: block;
    background: url('../image/main/main-visual-arr-prev.png') no-repeat;
    background-size: cover;
    width: 56px;
    height: 56px;
    position: absolute;
    top: 440px;
    left: 56px;
    z-index: 1;
}

.main .visual-slide .next {
    display: block;
    background: url('../image/main/main-visual-arr-next.png') no-repeat;
    background-size: cover;
    width: 56px;
    height: 56px;
    position: absolute;
    top: 440px;
    right: 56px;
    z-index: 1;
}

.main .visual-slide .slide-bg {
    background: url('../image/main/main-visual-img01.jpg') no-repeat center ;
    width: 100%;
    height: 900px;
    background-size: cover;
    position: relative;
}

.main .visual-slide .slide-text .text-area {
    position: absolute;
    top: 380px;
    left: 260px;
    z-index: 1;
}

.main .visual-slide .slide-text .title {
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -2px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 53px;
}

.main .visual-slide .slide-text .desc {
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #ffffff;
    margin-bottom: 23px;
}
.main .visual-slide .slide-text .text-area-btn {
    width: 137px;
    height: 46px;
}

/* 최신 업데이트 소식 */
.main .latest-news {
    background-color: #f5f7f8;
}

.main .latest-news-inner {
    width: 1296px;
    padding: 130px 52px 120px;
    margin: 0 auto;
}

.main .latest-news-content {
    position: relative;
}

.main .latest-news-content .text {
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 48px;
    text-align: center;
}

.main .latest-news-content .box::after {
    content: '';
    display: block;
    clear: both;
}

.main .latest-news-content .box-item {
    float: left;
    margin-right: 24px;
    transition: all 0.3s ease;
}

.main .latest-news-content .box-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.07);
}

.main .latest-news-content .box-item:last-child {
    margin-right: 0;
}

.main .latest-news-content .item-link {
    display: inline-block;
    width: 416px;
    height: 240px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 30px 32px 32px;
    position: relative;
}

.main .latest-news-content .point {
    display: block;
    margin-bottom: 16px;
    font-size: 14px;
    color: #04c75b;
}

.main .latest-news-content .desc {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.main .latest-news-content .more {
    position: absolute;
    bottom: 32px;
    font-size: 18px;
    color: #777777;
}

.main .latest-news-content .new-more {
    position: absolute;
    top: 23px;
    right: 0;
    line-height: 100%;
    font-size: 20px;
    padding-right: 30px;
}

.main .latest-news-content .new-more::before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 9px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    transform: translate(-50%,-50%) rotate(135deg);
}

.main .latest-news-content .new-more::after {
    content: '';
    width: 20px;
    height: 1px;
    position: absolute;
    right: 4px;
    top: 9px;
    transform: translateY(-50%);
    background: #000;
}

/* 네이버를 활용한 다양한 마케팅 스토리 */
.main .success {
    height: 908px;
    padding: 130px 0 176px;
    box-sizing: border-box;
    position: relative;
}

/* success 슬라이드 활성화 */
.main .success-slide-control {
    bottom: 132px;
}

.main .success-slide-control .item.on .circle {
    width: 10px;
    background-color: #03c75a;
}

.main .success .copy {
    font-size: 40px;
    text-align: center;
    line-height: 100%;
    margin-bottom: 68px;
}

.main .success .point {
    font-weight: 700;
}

.main .success .slide {
    position: relative;
    height: 496px;
    overflow: hidden;
}

.main .success .slide .box {
    width: 1080px;
    height: 496px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.main .success .slide .box:nth-child(2) {
    margin-left: -1200px;
}

.main .success .slide .box:nth-child(3) {
    margin-left: 1200px;
}

.main .success .box-link {
    display: block;
}

.main .success .box-link::after {
    content: '';
    display: block;
    clear: both;
}

.main .success .box-img {
    width: 540px;
    vertical-align: top;
    float: left;
}

.main .success .box-text-area {
    position: relative;
    display: table;
    width: 540px;
    height: 496px;
    float: left;
    padding: 0 45px;
    box-sizing: border-box;
    background-image: linear-gradient(133deg, #00c652, #00c5ae);
    color: #fff;
}

.main .success .box-text {
    display: table-cell;
    vertical-align: middle;
}

.main .success .box-text > div {
    text-align: center;
}

.main .success .title {
    font-size: 30px;
    display: block;
    line-height: 100%;
    margin-bottom: 12px;
}

.main .success .text {
    font-size: 16px;
    display: block;
    line-height: 100%;
    margin-bottom: 52px;
}

.main .success .desc {
    font-size: 19px;
    letter-spacing: -0.6px;
    line-height: 32px;
    margin-bottom: 52px;
}

.main .success .view {
    position: relative;
    line-height: 100%;
}

.main .success .view:hover::after {
    width: 100%;
}

.main .success .view::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: all 0.3s ease;
}

/* 브랜드 */
.main .brand {
    position: relative;
    width: 920px;
    margin: 0 auto;
}

.main .brand-inner {
    width: 1296px;
    padding: 0 52px;
    margin: 0 auto;
}

.main .brand-content {
    position: relative;
    width: 920px;
    height: 961px;
    background-color: #fff;
}

.main .brand-content .mobile {
    width: 375px;
    vertical-align: top;
    position: absolute;
    top: 92px;
    left: 0;
    border-radius: 40px;
    box-shadow: -30px 30px 30px 0 rgb(0 0 0 / 30%);
}

.main .brand-content .brand-name {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -584px;
    z-index: -1;
}

.main .brand-content .brand-name::after {
    content: '';
    display: block;
    clear: both;
}

.main .brand-content .item {
    float: right;
    margin-right: 22px;
}

.main .brand-content .item img {
    width: 202px;
    vertical-align: top;
}

.main .brand-content .text-area {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
}

.main .brand-content .desc {
    font-size: 38px;
    margin-bottom: 40px;
    letter-spacing: -0.6px;
}

.main .brand-content .point {
    color: #01ac4b;
    font-weight: 700;
}

.main .brand-content .brand-btn {
    width: 180px;
}
