@charset "utf-8";

/* 비주얼 */
.sub-container .sub-detail {
    background-image: none;
    height: 470px;
}

.sub-container .sub-detail .detail-wrap {
    height: 470px;
    position: relative;
}
.sub-container .sub-detail .detail-wrap .text-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: #f8f8f8;
    text-align: center;
    z-index: 1;
}
.sub-container .sub-detail .detail-wrap .text-area .copy {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.6px;
    margin-bottom: 16px;
}

.sub-container .sub-detail .detail-wrap .text-area .desc {
    font-size: 42px;
    line-height: 60px;
    letter-spacing: -1.2px;
}

.sub-container .sub-detail .detail-wrap .bgi-one {
    position: absolute;
    background-color: #000000;
    background-size: 100%, 470px;
    display: inline-block;
    width: 100%;
    height: 470px;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.sub-container .sub-detail .detail-wrap .bgi-one::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #000000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

.sub-container .sub-detail .detail-wrap .bgi-two {
    position: relative;
    width: 1080px;
    height: 470px;
    margin: 0 auto;
}

.sub-container .sub-detail .detail-wrap .bgi-two::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 40px;
    background-color: #000000;
    background-size: 48px, 48px;
    width: 48px;
    height: 48px;
    background-image: url('../image/srories-list-banner.png');
}

/* 콘텐츠 */
.sub-container .srories-list {
    width: 1080px;
    padding: 120px 52px 107px;
    margin: 0 auto;
}

.sub-container .srories-list .content-wrap .title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 24px;
    line-height: 38px;
    letter-spacing: -0.6px;
}

.sub-container .srories-list .content-wrap .desc {
    line-height: 28px;
    letter-spacing: -0.6px;
}

.sub-container .srories-list .content-wrap .desc-wrap .desc-text {
    font-style: italic;
    line-height: 28px;
    letter-spacing: -0.6px;
}

.sub-container .srories-list .content-wrap .space {
    width: 100%;
    height: 24px;
}
.sub-container .srories-list .content-wrap .desc .blod {
    font-weight: 700;
    font-family: 'NanumSquare';
}

.sub-container .srories-list .content-wrap .cont-img {
    width: 100%;
    vertical-align: top;
}

/* 정보 */
.sub-container .srories-list .content-wrap .cont-title {

}

.sub-container .srories-list .content-wrap .cont-title .text-area {
    margin-top: 60px;
}

.sub-container .srories-list .content-wrap .cont-title .text-area::after {
    content: '';
    display: block;
    clear: both;
}

.sub-container .srories-list .content-wrap .cont-title .item {
    float: left;
    text-align: center;
    border-right: 1px solid #eeeeee;
    width: 360px;
    padding: 35px 30px;
    box-sizing: border-box;
}

.sub-container .srories-list .content-wrap .cont-title .item:last-child {
    padding: 0;
    border-right: none;
}

.sub-container .srories-list .content-wrap .cont-title .tit {
    display: block;
    font-size: 42px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1.2px;
    margin-bottom: 10px;
    color: #00ac4a;
}

.sub-container .srories-list .content-wrap .cont-title .text {
    display: block;
    line-height: 28px;
    letter-spacing: -0.6px;
}

.sub-container .srories-list .content-wrap .desc-wrap {
    margin-top: 28px;
    padding: 40px 20px 40px 92px;
    background-color: #f8f8f8;
    position: relative;
}

.sub-container .srories-list .content-wrap .desc-wrap::after {
    content: '';
    display: block;
    position: absolute;
    top: 44px;
    left: 36px;
    width: 33px;
    height: 28px;
    background-image: url('../image/box-img.png');
    background-size: 33px, 28px;
    
}

.sub-container .srories-list .content-wrap .word {

}

.sub-container .srories-list .content-wrap .word::after {
    content: '';
    display: block;
    clear: both;
}

.sub-container .srories-list .content-wrap .word .item {
    float: left;
    margin: 0 8px 12px 0;
}

.sub-container .srories-list .content-wrap .word .item .link {
    display: inline-block;
    padding: 0 14px;
    line-height: 36px;
    border: 1px solid #eaeaea;
    font-size: 15px;
    letter-spacing: -0.6px; 

}

.sub-container .srories-list .content-wrap .cont-more {
    text-align: center;
    margin-top: 120px;
}
.sub-container .srories-list .content-wrap .cont-more .more-wrap {
    display: inline-block;
}
.sub-container .srories-list .content-wrap .cont-more .more-wrap::after {
    content: '';
    display: block;
    clear: both;
}
.sub-container .srories-list .content-wrap .cont-more .more-wrap .item {
    float: left;
    border: 1px solid #b7b7b7;
    border-radius: 32px;
    line-height: 62px;
    padding: 0 31px;
    font-size: 20px;
    margin-right: 16px;
}

.sub-container .srories-list .content-wrap .cont-more .more-wrap .item:last-child {
    margin-right: 0;
}

.sub-container .srories-list .content-wrap .cont-more .more-wrap .link {
    display: block;
    height: 62px;
}

.sub-container .srories-list .content-wrap .cont-more .more-wrap .link::before {

}

.sub-container .different {
    background-color: #f5f7f8;
}
.sub-container .different .different-box {
    width: 1296px;
    margin: 0 auto;
    padding: 112px 52px 120px;
}
.sub-container .different .box-wrap .title {
    font-size: 42px;
    margin-bottom: 60px;
    text-align: center;
}

/* 다른 사례 더보기 */
.sub-container .different .box-wrap .list-box::after {
    content: '';
    display: block;
    clear: both;
}

.sub-container .different .box-wrap .list-box .item {
    float: left;
    width: 416px;
    margin-right: 24px;
    margin-bottom: 80px;
    background-color: #fff;
    transition: all 0.3s ease-out;
}
.sub-container .different .box-wrap .list-box .item:last-child {
    margin-right: 0;
}

.sub-container .different .box-wrap .list-box .item:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.07);
}

.sub-container .different .box-wrap .list-box .link {
    display: block;
}

.sub-container .different .box-wrap .list-box img {
    width: 100%;
    height: 238px;
    vertical-align: top;
}

.sub-container .different .box-wrap .list-box .text-area {
    height: 107px;
    padding: 32px;
}

.sub-container .different .box-wrap .list-box .text-area .copy {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.6px;
    display: block;
    margin-bottom: 13px;
}

.sub-container .different .box-wrap .list-box .text-area .desc {
    line-height: 28px;
    letter-spacing: -0.6px;
}
