@charset "utf-8";

/* 구조 */
.wrap {
    min-width: 1400px;
}

.com-header {
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
}

.com-header .header {
    position: relative;
}

.com-header .header .inner {
    padding: 0 96px;
    margin: 0 auto;
}

.com-header .header .inner::after {
    content: '';
    display: block;
    clear: both;
}

.com-header .header .logo {
    float: left;
    margin-top: 32px;
    margin-right: 84px;
}

.com-header .header .logo .link {
    background: url('../image/logo.png') no-repeat;
    display: block;
    width: 222px;
    height: 22px;
    background-size: 222px, 22px;
}

.com-header .gnb {
    width: 846px;
    float: left;
}

.com-header .gnb .menu::after {
    content: '';
    display: block;
    clear: both;
}

.com-header .gnb .menu .item {
    float: left;
    font-size: 17px;
    height: 88px;
    line-height: 88px;
    margin-right: 60px;
}

.com-header .gnb .menu .item a {
    display: block;
    font-size: 17px;
    font-family: 'NanumSquare';
    color: #555555;
    position: relative;
}

.com-header .gnb .menu .item a:hover::after {
    width: 100%;
}

.com-header .gnb .menu .item a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 24px;
    width: 0;
    height: 2px;
    background-color: #03c75a;
    transition: width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.com-header .gnb .menu .item .on {
    font-weight: 700;
    color: #333333;
}

.com-header .gnb .menu .item .on::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 24px;
    width: 100%;
    height: 2px;
    background-color: #03c75a;
}

/* gnb 서브페이지 */
.com-header .gnb .menu .item .sub {
    position: absolute;
    top: 89px;
    left: 0px;
    right: 0px;
    z-index: 1;
    display: none;
}
.com-header .gnb .menu .item .sub > .menu {
    background-color: #ffffff;
    padding-left: 230px;
    border-bottom: 1px solid #f0f0f0;
}
.com-header .gnb .menu .item .sub > .menu::after {
    content: '';
    display: block;
    clear: both;
}
.com-header .gnb .menu .item .sub > .menu .item {
    float: left;
    height: 62px;
    line-height: 62px;
    margin-right: 48px;
}
.com-header .gnb .menu .item .sub > .menu .item a {
    font-size: 16px;
}
.com-header .gnb .menu .item .sub > .menu .item a::after {
    content: none;
}
.com-header .all-menu {
    margin: 34px 0px;
    float: right;
    margin-right: 20px;
    position: relative;
}
.com-header .all-menu .link {
    background: url('../image/all-menu.png') no-repeat;
    width: 20px;
    height: 20px;
    background-size: 20px, 20px;
    display: block;
}
.com-header .all-menu .ad {
    background-color: #ffffff;
    position: absolute;
    top: 35px;
    right: 0px;
    z-index: 1;
    display: none;
}
.com-header .all-menu .ad-on {
    display: block;
}
.com-header .all-menu .ad .list {
    width: 200px;
    border: 1px solid #dcdcdc;
}
.com-header .all-menu .ad .list .item {
    text-align: center;
    height: 55px;
    line-height: 55px;
}
.com-header .all-menu .ad .list .item a {
    display: block;
    width: 168px;
    margin: 0 auto;
    border-bottom: 1px solid #dcdcdc;
}








/* 주요특징-비주얼 */
.sub-container .visual {
    width: 100%;
    height: 180px;
    background-image: linear-gradient(to right, #07d05a, #24beac);
    display: table;
    position: relative;
}
.sub-container .visual .cont {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
}
.sub-container .visual .cont .copy {
    display: block;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.68px;
    padding-bottom: 12px;
}
.sub-container .visual .cont .desc {
    display: block;
    line-height: 30px;
    letter-spacing: -0.6px;
    font-size: 17px;
}
.sub-container .visual .cont .bg-01 {
    position: absolute;
    left: 0;
    top: 0;
    background: url('../image/bg-segment-01-1.png') no-repeat;
    background-size: 600px 180px;
    width: 600px;
    height: 180px;
}
.sub-container .visual .cont .bg-02 {
    position: absolute;
    right: 0;
    top: 0;
    background: url('../image/bg-segment-02-1.png') no-repeat;
    background-size: 600px 180px;
    width: 600px;
    height: 180px;
}














/* 네이버 통계 */
.sub-overview .naver-statistics {
    height: 1059px;
    background-color: red;
}
.sub-overview .statistics-bg {
    background-image: url('../image/naver-statistics-bg.jpg');
    width: 1920px;
    height: 1059px;
    background-size: cover;
}
.sub-overview .naver-statistics .data {
    text-align: center;
}
.sub-overview .naver-statistics .data .copy {
    vertical-align: top;
    margin-bottom: 19px;
    font-size: 42px;
}
.sub-overview .naver-statistics .data .copy .count {
    font-size: 60px;
    font-weight: 500;
    vertical-align: middle;
    display: inline-block;
    margin-left: 7px;
    vertical-align: top;
    font-family: 'SpoqaHanSansBold,Arial,NanumSquareR,sans-serif';
    line-height: 60px;
    letter-spacing: 0;
    font-weight: 700;
}
.sub-overview .naver-statistics .data .copy .text {
    font-weight: 700;
    margin-left: -8px;
}





.sub-overview .ad-step {

}
.sub-overview .ad-step .step-center {
    width: 1296px;
    margin: 0 auto;
    padding: 0px 52px;

}
.sub-overview .ad-step .step-center .text-cont {
    text-align: center;
}
.sub-overview .ad-step .step-center .text-cont .title {
    font-size: 42px;
    line-height: 60px;
    letter-spacing: -1.2px;
    margin-bottom: 16px;
}
.sub-overview .ad-step .step-center .text-cont .title .point {
    font-size: 42px;
    color: #00ac4a;
    font-weight: 700;
}
.sub-overview .ad-step .step-center .text-cont .desc {
    font-size: 20px;
    color: #767676;
}
.sub-overview .ad-step .step-center .step-cont {
    background-color: #f5f7f8;
    padding-top: 56px;
    margin-top: 52px;
}
.sub-overview .ad-step .step-center .step-cont .step {}

.sub-overview .ad-step .step-center .step-cont .list {
}
.sub-overview .ad-step .step-center .step-cont .list::after {
    content: '';
    display: block;
    clear: both;
}
.sub-overview .ad-step .step-center .step-cont .item {
    width: 432px;
    float: left;
}
.sub-overview .ad-step .step-center .step-cont .title-cont {
    text-align: center;
}
.sub-overview .ad-step .step-center .step-cont .title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.sub-overview .ad-step .step-center .step-cont .point {
    color: #00ac4a;
    font-size: 28px;
    vertical-align: middle;
}
.sub-overview .ad-step .step-center .step-cont .text-list {}
.sub-overview .ad-step .step-center .step-cont .text {
    padding-right: 16px;
    position: relative;
}
.sub-overview .ad-step .step-center .step-cont .text::after {
    content: '';
    display: block;
    width: 1px;
    height: 16px;
    position: absolute;
    top: 1px;
    right: 6px;
    background-color: #d8d8d8;
}
.sub-overview .ad-step .step-center .step-cont .text:last-child::after  {
    content: none;
}
.sub-overview .ad-step .step-center .step-cont .text:last-child {
    padding-right: 0px;
}
.sub-overview .ad-step .step-center .step-cont .step-img {}
.sub-overview .ad-step .step-center .step-cont .step-img img {
    vertical-align: top;
    width: 100%;
}

.sub-overview .ad-step .step-center .keyword {
    background-color: #ffffff;
}
.sub-overview .ad-step .step-center .keyword::after {
    content: '';
    display: block;
    clear: both;
}
.sub-overview .ad-step .step-center .keyword .keyword-list {}
.sub-overview .ad-step .step-center .keyword .keyword-list::after {
    content: '';
    display: block;
    clear: both;

}

.sub-overview .ad-step .step-center .keyword .text-item {
    width: 431px;
    float: left;

}
.sub-overview .ad-step .step-center .keyword .item-cont {
    padding: 22px 19px;
}
.sub-overview .ad-step .step-center .keyword .item-cont::after {
    content: '';
    display: block;
    clear: both;
}

.sub-overview .ad-step .step-center .keyword .item-cont a {
    border: 1px solid #9ae9bd;
    display: block;
    width: 186px;
    height: 42px;
    text-align: center;
    border-radius: 32px;
    float: left;
    margin-right: 17px;
    margin-bottom: 9px;
}


.sub-overview .ad-step .step-center .keyword .item-cont a .keyword-text {
    color: #01ac4b;
    line-height: 42px;
    position: relative;
    padding-right: 8px;
}
.sub-overview .ad-step .step-center .keyword .item-cont a .keyword-text::after {
    content: '';
    width: 7px;
    height: 7px;
    border-top: 1px solid #00ac4a;
    border-right: 1px solid #00ac4a;
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    top: 5px;
    right: -3px;
}
.sub-overview .ad-step .step-center .keyword .item-cont > span {
    display: block;
    height: 42px;
    line-height: 42px;
    text-align: center;
    float: left;
    margin-right: 17px;
    margin-bottom: 9px;
    color: #059685;
    background-color: #f5fcfb;
}

.sub-overview .ad-step .step-center .keyword .item-cont .margin-del {
    margin-right: 0px;
}
.sub-overview .ad-step .step-center .keyword .item-cont .branding {
    width: 392px;
}

.sub-overview .ad-step .step-center .keyword .item-cont .link-02 {
    border: 1px solid #9bd5ce;
}

.sub-overview .ad-step .step-center .keyword .item-cont .power-cont {
    width: 135px;
}
.sub-overview .ad-step .step-center .keyword .item-cont .new {
    width: 239px;
}
.sub-overview .ad-step .step-center .keyword .item-cont .power-link {
    width: 395px;
}
.sub-overview .ad-step .step-center .keyword .item-cont .shop-search {
    width: 395px;
    margin-left: 120px;
}
.sub-overview .ad-step .step-center .keyword .item-cont .catalogue {
    width: 189px;
}
.sub-overview .ad-step .step-center .keyword .item-cont .left {
    float: left;
    width: 186px;
}
.sub-overview .ad-step .step-center .keyword .item-cont .left .catalogue {
    margin-top: 72px;
    display: block;
    height: 42px;
    line-height: 42px;
    text-align: center;
    float: left;
    margin-right: 17px;
    margin-bottom: 9px;
    color: #059685;
    background-color: #f5fcfb;
}

.sub-overview .ad-step .step-center .keyword .item-cont .right {
    float: right;
    width: 186px;
}
.sub-overview .ad-step .step-center .keyword .item-cont .right > span {
    display: block;
    width: 186px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    float: left;
    margin-right: 17px;
    margin-bottom: 9px;
    color: #059685;
    background-color: #f5fcfb;
}


.sub-overview .keyword-cont .text-cont {
    text-align: center;
}
.sub-overview .keyword-cont .text-cont .title {
    font-size: 42px;
    line-height: 60px;
    letter-spacing: -1.2px;
    margin-bottom: 16px;
}
.sub-overview .keyword-cont .text-cont .title .point {
    font-size: 42px;
    color: #00ac4a;
    font-weight: 700;
}
.sub-overview .keyword-cont .text-cont .desc {
    font-size: 20px;
    color: #767676;
}
.sub-overview .keyword-cont .keyword-cont-img {
    width: 1100px;
    margin: 0 auto;
}
.sub-overview .keyword-cont .keyword-cont-img > img {
    width: 100%;
    vertical-align: top;
}
.sub-overview .keyword-cont .ad-cont-link {
    border-radius: 32px;
    width: 242px;
    line-height: 64px;
    margin: 0 auto;
    background-color: red;
    text-align: center;
    background-image: linear-gradient(105deg, #07d05a, #24beac);
    transform: translateY(-2px);
    border-radius: 40px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.07);
}
.sub-overview .keyword-cont .ad-cont-link .link {
    color: #fefefe;
    font-size: 20px;
    border-radius: 40px;
    line-height: 64px;
    display: block;
}
.sub-overview .keyword-cont .ad-cont-link:hover {
    transform: translateY(-2px);
    border-radius: 40px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.07);
}













.sub-overview .naver-growth .text-cont {
    text-align: center;
}
.sub-overview .naver-growth .text-cont .title {
    font-size: 42px;
    line-height: 60px;
    letter-spacing: -1.2px;
    margin-bottom: 16px;
}
.sub-overview .naver-growth .text-cont .title .point {
    font-size: 42px;
    color: #00ac4a;
    font-weight: 700;
}
.sub-overview .naver-growth .text-cont .desc {
    font-size: 20px;
    color: #767676;
}
.sub-overview .naver-growth .keyword-cont-img {
    width: 1100px;
    margin: 0 auto;
}


.sub-overview .naver-growth .status {

}
.sub-overview .naver-growth .status > ul > .accumulate {
    float: right;
}





































.sub-overview .ad-step-item {
    background-color: #f5f7f8;
}
.sub-overview .ad-step-item::after {
    content: '';
    display: block;
    clear: both;
}
.sub-overview .ad-step-item-list {
    width: 432px;
    padding-top: 54px;
    float: left;
}

.sub-overview .ad-step-item-list .title {
    display: block;
    font-size: 25px;
    text-align: center;
}
.sub-overview .ad-step-item-list .title span {
    color: #00ac4a;
    margin-right: 8px;
    font-family: 'SpoqaHanSansRegular, Arial, NanumSquareR, sans-serif';
}
.sub-overview .ad-step-item-list .text-list-cont {
    text-align: center;
}

.sub-overview .ad-step-item-list .text-list {
    display: inline-block;
    padding-top: 7px;
}
.sub-overview .ad-step-item-list .text-list::after {
    content: '';
    display: block;
    clear: both;
}
.sub-overview .ad-step-item-list .text-list > li {
    float: left;
    display: inline-block;
}
.sub-overview .ad-step-item-list .text-list > li + li {
    padding-left: 20px;
}

.sub-overview .ad-step-item-list .shop-img {
    vertical-align: top;
    width: 100%;
    margin-top: -24px;
}
.sub-overview .ad-step-item-list .hash-tag-item {
    background-color: #fff;
    padding: 18px 18px;
    width: 100%;
    height: 237px;
    box-sizing: border-box;
}
.sub-overview .ad-step-item-list .hash-tag-item span::after {
    content: '';
    display: block;
    clear: both;
}

.sub-overview .ad-step-item-list .hash-tag-item span {
    float: left;
    display: block;
    width: 50%;
    padding-right: 9px;
    box-sizing: border-box;
    margin: 5px 0;
}
.sub-overview .ad-step-item-list .hash-tag-item span a {
    border: 1px solid rgba(5, 150, 133, 0.4);
    display: block;
    height: 40px;
    line-height: 40px;
    border-radius: 24px;
    text-align: center;
}
.sub-overview .ad-step-item-list .hash-tag-item span .link {
    border-color: rgba(3, 199, 90, 0.4);
    color: #00ac4a;
}

.sub-overview .ad-step-item-list .hash-tag-item .cont01 {
    color: #00ac4a;
}
.sub-overview .ad-step-item-list .hash-tag-item .branding-da {
    width: 78%;
}

.sub-overview .ad-step-item-list .hash-tag-item .full-bg {
    color: #059685;
    background-color: #f5fcfb;
    line-height: 40px;
    text-align: center;
}
.sub-overview .ad-step-item-list .hash-tag-item .power-cont {
    width: 36.5%;
    margin-right: 8px;
    box-sizing: border-box;
}
.sub-overview .ad-step-item-list .hash-tag-item .pl-9px {
    padding-left: 9px;
    padding-right: 0px;
}

.sub-overview .ad-step-item-list .hash-tag-item .new-product {
    width: 63.5%;
    box-sizing: border-box;
}

.sub-overview .keyword-connect .cont .title {

}
.sub-overview .keyword-connect .cont .title span {
    color: #00ac4a;
}

.section-overview .sub-overview-keyword-video {
    width: 1200px;
    margin: 0 auto;
    display: block;
}
.section-overview .sub-overview-keyword-video > source {
    display: block;
    margin: 0 auto;
}
.sub-overview .keyword-connect .ad-step-link {
    text-align: center;
}
.sub-overview .keyword-connect .ad-step-link .link {
    display: inline-block;
    height: 64px;
    padding: 0 40px;
    border-radius: 40px;
    background-image: linear-gradient(105deg, #07d05a, #24beac);
    line-height: 64px;
    font-size: 1.42857rem;
    letter-spacing: -0.6px;
    text-align: center;
    color: #fff;
}

.sub-overview .naver-growth {
    padding-top: 161px;
}

.sub-overview .naver-growth {}
.sub-overview .naver-growth .cont {}
.sub-overview .naver-growth .cont .title {}
.sub-overview .naver-growth .cont .title span {
    color: #00ac4a;
}
.sub-overview .naver-growth .status {
    margin-bottom: 220px;
}
.sub-overview .naver-growth .status ul {
    margin: 0 auto;
    width: 1116px;
    margin-top: 82px;
}
.sub-overview .naver-growth .status ul::after {
    content: '';
    display: block;
    clear: both;
}

.sub-overview .naver-growth .status ul .status-item {
    float: left;
}
.sub-overview .naver-growth .status ul .status-item img {
    vertical-align: top;
}








.sub-overview .naver-growth {}
.sub-overview .naver-growth .ad-step {
    text-align: center;
}
.sub-overview .naver-growth .ad-step .copy {
    font-size: 42px;
    line-height: 60px;
    letter-spacing: -1.2px;
}
.sub-overview .naver-growth .ad-step .copy .point {
    color: #00ac4a;
    font-weight: 800;
}




/* 백그라운드 배경 고정 콘텐츠 */
.sub-overview .fixed-scroll-box {
    height: 1175px;
}
.sub-overview .fixed-scroll-bg {
    background: url('../image/fixed-scroll-img.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
}
.sub-overview .fixed-scroll-box .product {
    height: 668px;
}
.sub-overview .fixed-scroll-box .product .electronics {
    width: 1305px;
    margin: 0 auto;
    position: relative;
}
.sub-overview .fixed-scroll-box .product .electronics .tablet {
    width: 488px;
    height: 350px;
    position: absolute;
    top: 254px;
    left: 80px;
    z-index: 1;
}
.sub-overview .fixed-scroll-box .product .electronics .pc {
    width: 853px;
    height: 456px;
    position: absolute;
    top: 152px;
    left: 300px;
    z-index: 2;
}
.sub-overview .fixed-scroll-box .product .electronics .mobile {
    width: 148px;
    height: 278px;
    position: absolute;
    top: 342px;
    right: 172px;
    z-index: 5;
}
.sub-overview .fixed-scroll-box .product .electronics .mobile-page-01 {
    width: 136px;
    height: 249px;
    position: absolute;
    top: 350px;
    right: 41px;
    z-index: 4;
}
.sub-overview .fixed-scroll-box .product .electronics .mobile-page-02 {
    width: 136px;
    height: 249px;
    position: absolute;
    top: 350px;
    right: -95px;
    z-index: 3;
}
.sub-overview .fixed-scroll-box .reach {
    height: 507px;
}
.sub-overview .fixed-scroll-box .reach .corp {
    font-size: 42px;
    text-align: center;
    color: #fefefe;
    line-height: 60px;
    letter-spacing: -1.2px;
    margin-bottom: 32px;
}
.sub-overview .fixed-scroll-box .reach .corp .point {
    font-weight: 800;
}
.sub-overview .fixed-scroll-box .reach .desc {
    color: #c0c1c2;
    text-align: center;
    line-height: 30px;
    letter-spacing: -0.6px;
    font-size: 18px;
    margin-bottom: 60px;
}
.sub-overview .fixed-scroll-box .reach .link-cont {
    text-align: center;
}
.sub-overview .fixed-scroll-box .reach .link-cont .link {
    display: inline-block;
    padding: 0 40px;
    border: 1px solid rgba(3, 199, 90, 0.7);
    letter-spacing: -0.6px;
    border: 1px solid rgba(0, 172, 75, 0.7);
    border-radius: 32px;
    height: 56px;
    line-height: 56px;
    margin: 0 8px;
}
.sub-overview .fixed-scroll-box .reach .link-cont .link:hover {
    color: #ffffff;
    background-image: linear-gradient(to right, #07d05a, #24beac);
}
.sub-overview .fixed-scroll-box .reach .link-cont .link .text {
    padding-right: 16px;
    color: #00ac4a;
    position: relative;
}
.sub-overview .fixed-scroll-box .reach .link-cont .link .text::after {
    content: '';
    width: 8px;
    height: 8px;
    border-top: 1px solid #00ac4a;
    border-right: 1px solid #00ac4a;
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    right: 0px;
}







/* 광고 환경 목록 */
.sub-overview .safety {
    height: 869px;
    background-color: #f5f7f8;
}
.sub-overview .safety .safety-center {
    position: relative;
    width: 1296px;
    margin: 0 auto;
    padding-top: 164px;
    padding-bottom: 160px;
}
.sub-overview .safety .corp {
    font-size: 42px;
    text-align: center;
    margin-bottom: 64px;
}
.sub-overview .safety .safety-list {
    background-color: #fff;
}
.sub-overview .safety .safety-list::after {
    content: '';
    display: block;
    clear: both;
}

.sub-overview .safety .item {
    width: 432px;
    height: 426px;
    text-align: center;
    float: left;
    position: relative;
}
.sub-overview .safety .item::after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

.sub-overview .safety .item > .title {
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #00ac4a;
    font-weight: 400;
    display: block;
}

.sub-overview .safety .item > .desc {
    font-size: 18px;
    margin-top: 24px;
    line-height: 30px;
    letter-spacing: -0.6px;
}

.sub-overview .safety .item .icon-cont {
    width: 100%;
    height: 120px;
    padding-top: 88px;
}
.sub-overview .safety .item .icon-cont > .icon-1 {
    background-image: url('../image/icon-1.png');
    background-size: 64px 80px;
    width: 64px;
    height: 80px;
    display: block;
    margin: 0 auto;
}
.sub-overview .safety .item .icon-cont > .icon-2 {
    background-image: url('../image/icon-2.png');
    background-size: 87px 59px;
    width: 87px;
    height: 59px;
    display: block;
    margin: 0 auto;
}
.sub-overview .safety .item .icon-cont > .icon-3 {
    background-image: url('../image/icon-3.png');
    background-size: 89px 89px;
    width: 89px;
    height: 89px;
    display: block;
    margin: 0 auto;
}
.sub-overview .safety .item > .title {
    font-size: 32px;
}





/* 서브페이지 광고상품소개 비주얼 */
.advertisement-list-page .visual .cont {
    position: relative;
}
.advertisement-list-page .visual .cont .bg-01 {
    background-image: url('../image/advertisement-list-page-visual-cont-bg-01.png');
    background-repeat: no-repeat;
    background-size: 664px, 240px;
    width: 664px;
    height: 240px;
    position: absolute;
    top: 0;
    left: 0;
}
.advertisement-list-page .visual .cont .bg-02 {
    background-image: url('../image/advertisement-list-page-visual-cont-bg-02.png');
    background-repeat: no-repeat;
    background-size: 720px 180px;
    width: 720px;
    height: 180px;
    position: absolute;
    top: 0;
    right: 0;
}





/* 광고상품소개 - 목록 */

/* 목록 콘텐츠 */
.advertisement-list-page .ad-product-cont {
    width: 1296px;
    margin: 0 auto;
    padding-top: 120px;
    position: relative;
}

.advertisement-list-page .ad-product-cont ul::after {
    content: '';
    display: block;
    clear: both;
}

.advertisement-list-page .ad-product-cont li {
    float: left;
    margin-right: 24px;
    margin-bottom: 24px;
}

.advertisement-list-page .ad-product-cont li:nth-child(2n) {
    margin-right: 0;
}

.advertisement-list-page .ad-product-cont .item a {
    position: relative;
    display: block;
}

.advertisement-list-page .ad-product-cont .text-cont {
    position: absolute;
    left: 40px;
    bottom: 56px;
    color: #ffffff;
}

.advertisement-list-page .ad-product-cont .text-cont .title {
    font-size: 32px;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: -0.6px;
}

.advertisement-list-page .ad-product-cont .text-cont .text {
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1px 12px;
    margin: 6px 0 6px;
    line-height: 24px;
    display: inline-block;
    border-radius: 16px;
    letter-spacing: -0.6px;
}

.advertisement-list-page .ad-product-cont .text-cont .desc {
    margin-top: 12px;
    line-height: 28px;
    letter-spacing: -0.6px;
}

/* 목록 콘텐츠 이미지 */
.advertisement-list-page .ad-product-cont .main-ad-img {background-image: url('../image/main-ad-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list-page .ad-product-cont .sub-ad-img {background-image: url('../image/sub-ad-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list-page .ad-product-cont .topic-ad-img {background-image: url('../image/topic-ad-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list-page .ad-product-cont .video-ad-img {background-image: url('../image/video-ad-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list-page .ad-product-cont .search-ad-img {background-image: url('../image/search-ad-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list-page .ad-product-cont .band-ad-img {background-image: url('../image/band-ad-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list-page .ad-product-cont .webtoon-ad-img {background-image: url('../image/webtoon-ad-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list-page .ad-product-cont .influencer-ad-img {background-image: url('../image/influencer-ad-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}










/* 상품 상세정보 보기 */
.advertisement-list-page .product-info {
    background-color: #222222;
    text-align: center;
    padding: 211px 72px 120px;
    position: relative;
    overflow: hidden;
    margin-top: 132px;
}

.advertisement-list-page .product-info .title {
    color: #ffffff;
    margin-bottom: 40px;
    display: inline-block;
    font-size: 32px;
}

.advertisement-list-page .product-info .link-cont .link {
    height: 93px;
    display: inline-block;
    padding: 0 160px;
    margin-right: 20px;
    border-radius: 52px;
    border: 1px solid rgba(3, 199, 90, 0.7);
    font-size: 25px;
    text-align: center;
    line-height: 96px;
    letter-spacing: -0.6px;
    color: #03c75a;
}

.advertisement-list-page .product-info .link-cont .link:last-child {
    margin-right: 0;
}

.advertisement-list-page .product-info .rotate_bg {
    position: absolute;
    width: 200%;
    height: 200%;
    left: -47px;
    top: -1032px;
    background-color: #fff;
    transform-origin: left bottom;
    transform: rotate(5.2deg);
    z-index: 1;
}




































































/* 푸터 */
.common-footer {
    padding: 0 96px;
    background-color: #000000;
}

.common-footer .fonter-cont {
    padding-top: 60px;
    padding-bottom: 55px;
}

.common-footer .fonter-cont::after {
    content: '';
    display: block;
    clear: both;
}

.common-footer .fonter-cont .info {
    float: left;
}

.common-footer .fonter-cont .info ul::after {
    content: '';
    display: block;
    clear: both;
}

.common-footer .fonter-cont .info ul li {
    float: left;
    padding-right: 16px;
    margin-right: 16px;
}

.common-footer .fonter-cont .info .info-list {
    margin-bottom: 24px;
}

.common-footer .fonter-cont .info .info-list .item a {
    color: #dbdbdb;
}

.common-footer .fonter-cont .info .company-infor-list .item {
    color: #767676;
    font-size: 14px;
}

.common-footer .fonter-cont .info .address-list .item {
    color: #767676;
    font-size: 14px;
}

.common-footer .fonter-cont .info .address-list .item .mail {
    color: #767676;
}

.common-footer .fonter-cont .corp {
    float: right;
    position: relative;
    top: 17px;
}

.common-footer .fonter-cont .corp .logo {
    background-image: url('../image/black-and-white-logo.png');
    background-repeat: no-repeat;
    background-size: 103px, 20px;
    width: 103px;
    height: 20px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.common-footer .fonter-cont .corp .addr {
    display: block;
    margin-top: 40px;
    color: #767676;
}



















