@charset "utf-8";

/* 비주얼 */
.sub-container .visual {
    background-image: none;
    height: 470px;
}

.sub-container .visual .text-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: #f8f8f8;
    text-align: center;
    z-index: 1;
}

.sub-container .visual .text-area .copy {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.6px;
    margin-bottom: 16px;
}

.sub-container .visual .text-area .desc {
    font-size: 42px;
    line-height: 60px;
    letter-spacing: -1.2px;
}

.sub-container .visual .bg-one {
    position: absolute;
    background-color: #000000;
    background-size: 100%, 470px;
    display: inline-block;
    width: 100%;
    height: 470px;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.sub-container .visual .bg-one::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #000000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

.sub-container .visual .bg-two {
    position: relative;
    width: 1080px;
    height: 470px;
    margin: 0 auto;
}

/* 현대캐피탈 자동차금융 visual-icon */
.stories-detail .visual .bg-two::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 40px;
    background-color: #000000;
    background-size: 48px, 48px;
    width: 48px;
    height: 48px;
    background-image: url('../image/srories-list-banner.png');
}

/* 애드시너지와 네이버페이 visual-icon */
.ad-synergies-detail .visual .bg-two::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 40px;
    background-color: #000000;
    background-size: 48px, 48px;
    width: 48px;
    height: 48px;
    background-image: url('../image/ad-set-vis-icon.png');
}

/* 내용 */
.sub-container .detail-inner {
    width: 1080px;
    padding: 120px 52px 107px;
    margin: 0 auto;
}

.sub-container .detail-content .title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 24px;
    line-height: 38px;
    letter-spacing: -0.6px;
}

.sub-container .detail-content .desc {
    line-height: 28px;
    letter-spacing: -0.6px;
}

.sub-container .detail-content .desc-wrap .desc-text {
    font-style: italic;
    line-height: 28px;
    letter-spacing: -0.6px;
}

.sub-container .detail-content .space {
    width: 100%;
    height: 24px;
}

.sub-container .detail-content .blod {
    font-weight: 700;
    font-family: 'NanumSquareR';
    letter-spacing: -0.8px;
}

.sub-container .detail-content .desc .blod {
    font-weight: 700;
    font-family: 'NanumSquareR';
}

.sub-container .detail-content .detail-img {
    width: 100%; 
    vertical-align: top;
}

.sub-container .detail-content .text-area {
    margin-top: 60px;
}

.sub-container .detail-content .text-area::after {
    content: '';
    display: block;
    clear: both;
}

.sub-container .detail-content .text-area .item {
    float: left;
    text-align: center;
    border-right: 1px solid #eeeeee;
    width: 360px;
    padding: 35px 30px;
    box-sizing: border-box;
}

.sub-container .detail-content .text-area .item:last-child {
    padding: 0;
    border-right: none;
}

.sub-container .detail-content .text-area .title {
    display: block;
    font-size: 42px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1.2px;
    margin-bottom: 10px;
    color: #00ac4a;
}

.sub-container .detail-content .text-area .text {
    display: block;
    line-height: 28px;
    letter-spacing: -0.6px;
}

.sub-container .detail-content .desc-wrap {
    margin-top: 28px;
    padding: 40px 20px 40px 92px;
    background-color: #f8f8f8;
    position: relative;
}

.sub-container .detail-content .desc-wrap::after {
    content: '';
    display: block;
    position: absolute;
    top: 44px;
    left: 36px;
    width: 33px;
    height: 28px;
    background-image: url('../image/box-img.png');
    background-size: 33px, 28px;
}

.sub-container .detail-content .hash-tag-content::after {
    content: '';
    display: block;
    clear: both;
}

.sub-container .detail-content .hash-tag-content .item {
    float: left;
    margin: 0 8px 12px 0;
}

.sub-container .detail-content .hash-tag-content .link {
    display: inline-block;
    padding: 0 14px;
    line-height: 36px;
    border: 1px solid #eaeaea;
    font-size: 15px;
    letter-spacing: -0.6px; 
}

.sub-container .more-content {
    text-align: center;
    margin-top: 120px;
}

.sub-container .more-content::after {
    content: '';
    display: block;
    clear: both;
}

.sub-container .more-content > div {
    display: inline-block;
    vertical-align: top;
}

.sub-container .more-content .link {
    border: 1px solid #b7b7b7;
    border-radius: 32px;
    height: 62px;
    line-height: 62px;
    padding: 0 31px;
    font-size: 20px;
    margin-right: 16px;
    display: block;
    float: left;
}

.sub-container .more-content .more-icon {
    float: left;
    display: block;
    background: url('../image/ad-icon.png');
    width: 64px;
    height: 64px;
    background-size: 64px, 64px;
}

.sub-container .more-content .more-icon:hover {
    display: block;
    background: url('../image/ad-icon-hover.png');
    width: 64px;
    height: 64px;
    background-size: 64px, 64px;
}

/* 다른 사례 보기 */
.different {
    background-color: #f5f7f8;
}

.different .different-box {
    width: 1296px;
    margin: 0 auto;
    padding: 112px 52px 120px;
}

.different .box-wrap .title {
    font-size: 42px;
    margin-bottom: 60px;
    text-align: center;
}

.different .box-wrap .list-box::after {
    content: '';
    display: block;
    clear: both;
}

.different .box-wrap .list-box .item {
    float: left;
    width: 416px;
    margin-right: 24px;
    background-color: #fff;
    transition: all 0.3s ease-out;
}

.different .box-wrap .list-box .item:last-child {
    margin-right: 0;
}

.different .box-wrap .list-box .item:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.07);
}

.different .box-wrap .list-box .link {
    display: block;
}

.different .box-wrap .list-box img {
    width: 100%;
    height: 238px;
    vertical-align: top;
}

.different .box-wrap .list-box .text-area {
    height: 107px;
    padding: 32px;
}

.different .box-wrap .list-box .text-area .copy {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.6px;
    display: block;
    margin-bottom: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.different .box-wrap .list-box .text-area .desc {
    line-height: 28px;
    letter-spacing: -0.6px;
}
