@charset "UTF-8";

.wrap {width: 100%; min-width: 1400px; overflow: hidden;}

/* 
----------
주요 특징
----------
*/

/* 비주얼 */
.overview .visual .bg-one {
    background: url('../image/overview-visual-bg-one.png') no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 600px 180px;
    width: 600px;
    height: 180px;
}

.overview .visual .bg-two {
    background: url('../image/overview-visual-bg-two.png') no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    background-size: 600px 180px;
    width: 600px;
    height: 180px;
}

/* 사용자 데이터 */
.overview .user-data {
    background-color: #ffffff;
    min-width: 1400px;
    position: relative;
    overflow: hidden;
    padding-top: 270px;
}

.overview .user-data .diagonal {
    position: absolute;
    width: 200%;
    height: 480px;
    right: 0;
    bottom: -484px;
    z-index: 1;
    background-color: #fff;
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
}

.overview .user-data .text-wrap {
    position: absolute;
    top: 116px;
    left: 50%;
    transform: translateX(-50%);
}

.overview .user-data .text {
    font-size: 42px;
    margin-bottom: 16px;
    color: #000000;
}

.overview .user-data .text > span {
    display: inline-block;
    line-height: 65px;
    letter-spacing: -0.7px;
}

.overview .user-data .desc {
    font-size: 20px;
    letter-spacing: -0.6px;
    margin-top: 24px;
    display: block;
    color: #333333;
}

.overview .user-data .point {
    font-size: 60px;
    margin-top: -5px;
    margin-left: 7px;
    font-family: 'SpoqaHanSansBold, Arial, NanumSquareR, sans-serif';
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0;
    vertical-align: top;
    color: #000000;
}

.overview .user-data .bold {
    font-weight: 700;
}

.overview .user-data .img-content img {
    vertical-align: top;
    width: 100%;
}

/* 구매 결정 단계 */
.overview .purchase {
    min-width: 1400px;
    height: 1236px;
}

.overview .purchase-inner {
    width: 1296px;
    padding: 118px 52px 107px;
    margin: 0 auto;
}

.overview .purchase-content .order-content {
    position: relative;
    margin-top: 55px;
    margin-bottom: 42px;
}

.overview .purchase-content .order-content .purchase-content::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    z-index: 1;
    background-image: linear-gradient(to right, #07d05a, #24beac);
}

.overview .order-content .order-box::after {
    content: '';
    display: block;
    clear: both;
}

.overview .order-content .order-box .item {
    width: 432px;
    height: 506px;
    background-color: #f5f7f8;
    position: relative;
    float: left;
}

.overview .order-content .order-text {
    text-align: center;
    padding-top: 54px;
    font-size: 25px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 13px;
}

.overview .order-content .point {
    color: #00ac4a;
    font-size: 28px;
    vertical-align: middle;
}

.overview .order-content .title {
    font-size: 25px;
    letter-spacing: -0.5px;
}

.overview .order-content .order-desc {
    text-align: center;
}

.overview .order-content .order-desc > li {
    padding-right: 16px;
    font-size: 15px;
    display: inline-block;
    position: relative;
}

.overview .order-content .order-desc > li:last-child {
    padding-right: 0;
}

.overview .order-content .order-desc > li::after {
    content: '';
    width: 1px;
    height: 16px;
    background-color: #d8d8d8;
    position: absolute;
    top: 2px;
    right: 5px;
}

.overview .order-content .order-desc > li:last-child::after {
    content: none;
}

.overview .order-content .img-wrap {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.overview .order-content .img-wrap img {
    width: 100%;
    vertical-align: top;
}

/* 구매 결정 단계 단어 */
.overview .word {border-bottom: 1px solid #eee; border-image-slice: 1; border-image-width: 1px 0 0 0; border-image-source: linear-gradient(to right, #07d05a, #24beac)}
.overview .word::after {content: ''; display: block; clear: both;}
.overview .word .word-item {float: left; padding: 22px 18px;}
.overview .word .key {width: 396px;}
.overview .word .key::after {content: ''; display: block; clear: both;}
.overview .word .key-item {float: left; width: 198px; text-align: center; box-sizing: border-box; }
.overview .word a {line-height: 38px; margin-bottom: 10px; border-radius: 32px; border: 1px solid #9ae9bd; color: #01ac4b; display: block;}
.overview .word a:hover { background-image: linear-gradient(to right, #07d05a, #24beac);}
.overview .word a:hover .keyword {color: #fff}
.overview .word a:hover .arr::after {border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;}
.overview .key .h40px {display: block; height: 40px; line-height: 40px; margin-bottom: 10px; background-color: #f5fcfb; color: #079685;}
.overview .key .special {padding-right: 8px;}
.overview .key .video {padding-left: 8px;}
.overview .key .brand {width: 300px;}
.overview .key .time {padding-right: 8px;}
.overview .key .contents {padding-left: 8px;}
.overview .key .rolling {padding-right: 8px;}
.overview .key .rolling a {margin-bottom: 0px;}
.overview .key .sub {padding-left: 8px;}
.overview .key .sub a {margin-bottom: 0px;}
.overview .key .search {padding-right: 8px;}
.overview .key-content-two a {border: 1px solid #9bd5ce;}
.overview .key-content-two .keyword {color: #079685;}
.overview .key .arr {position: relative; padding-right: 14px;}
.overview .key .arr::after {content: ''; width: 7px;height: 7px; border-top: 1px solid #0cb053; border-right: 1px solid #0cb053; display: inline-block; transform: rotate(45deg); position: absolute; top: 5px; right: 3px;}
.overview .key-content-two .arr::after { border-top: 1px solid #079685; border-right: 1px solid #079685;}
.overview .key-content-three .bgc {color: #0581a9; background-color: #f5fafc;}
.overview .key .brandsearch {padding-left: 8px;}
.overview .key .powercontent {width: 142px; padding-right: 8px;}
.overview .key .newproduct {width: 254px; padding-left: 8px;}
.overview .key .powerlink {width: 396px;}
.overview .key .shopping {width: 396px; margin-left: 210px;}
.overview .key .shopping .keyword {margin-bottom: 0px;}
.overview .key .pay {width: 190px; margin-left: 206px;}
.overview .key .catalog {padding-right: 8px;}
.overview .key .toktok {padding-left: 8px;}
.overview .key .naverid {width: 190px; margin-left: 206px;}
.overview .key .smart {width: 190px; margin-left: 206px;}
.overview .key .smart .keyword {margin-bottom: 0;}

/* 애드시너지 확장 */
.overview .expand-inner {
    width: 1296px;
    padding: 130px 52px 107px;
    margin: 0 auto;
}
.overview .expand-content video {
    margin: 0 auto;
    display: block;
}

/* 성장 그래프 현황 */
.overview .ratio {
    min-width: 1400px;
    height: 868px;
}

.overview .ratio-inner {
    width: 1116px;
    margin: 0 auto;
    padding: 83px 142px 45px;
}

.overview .graph-content {
    padding-top: 82px;
    margin: 0 auto;
}

.overview .graph-content::after {
    content: '';
    display: block;
    clear: both;
}

.overview .graph-content .graph-img {
    float: left;
}

.overview .graph-content .graph-img img {
    vertical-align: top;
}

.overview .graph-content .result {
    float: left;
}

.overview .graph-content .result-list {
    padding-top: 50px;
}

.overview .graph-content .result-list .item {
    width: 558px;
    position: relative;
}

.overview .graph-content .result-list .item::after {
    content: '';
    display: block;
    width: 540px;
    height: 1px;
    background-color: #eee;
    position: absolute;
    right: 0;
    bottom: 0px;
}

.overview .graph-content .result-list .item dl {
    padding: 66px 14px 47px 47px;
}

.overview .graph-content .result-list .item dl::after {
    content: '';
    display: block;
    clear: both;
}

.overview .graph-content .result-list .item dt {
    font-size: 32px;
    margin-right: 64px;
    float: left;
}

.overview .graph-content .result-list .item dd {
    text-align: right;
    font-size: 64px;
    line-height: 64px;
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    float: right;
}

/* 디바이스 영역 */
.overview .reach {
    min-width: 1400px;
    position: relative;
    margin-top: 270px;
}

.overview .reach-bg {
    background: url('../image/overview-reach-bg.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
}

.overview .reach::after {
    content: '';
    position: absolute;
    width: 120%;
    height: 360px;
    left: 0;
    top: -359px;
    z-index: 1;
    background-color: #fff;
    transform-origin: left bottom;
    transform: rotate(8deg);
}

.overview .device-contnet .device-list {
    position: relative;
    width: 1400px;
    margin: 0 auto;
}

.overview .device-contnet img {
    width: 100%;
    vertical-align: top;
}

.overview .device-contnet .tablet {
    width: 487px;
    height: 350px;
    position: absolute;
    top: 0px;
    left: 68px;
    z-index: 2;
}

.overview .device-contnet .pc {
    width: 845px;
    height: 458px;
    position: absolute;
    top: -100px;
    left: 278px;
    z-index: 5;
}

.overview .device-contnet .mobile {
    width: 148px;
    height: 278px;
    position: absolute;
    top: 100px;
    right: 288px;
    z-index: 6;
}

.overview .device-contnet .mobile-page-one {
    width: 136px;
    height: 248px;
    position: absolute;
    top: 112px;
    right: 155px;
    z-index: 3;
}

.overview .device-contnet .mobile-page-two {
    width: 136px;
    height: 248px;
    position: absolute;
    top: 112px;
    right: 22px;
    z-index: 2;
}

.overview .reach-ad {
    width: 790px;
    padding: 446px 305px 138px;
    margin: 0 auto;
}

.overview .reach-ad-contnet .text-wrap {
    color: #f5f7f8;
}

.overview .reach-ad-contnet .point {
    color: #f5f7f8;
    font-weight: 800;
}

.overview .reach-ad-contnet .text {
    color: #d3d4d5;
    font-size: 18px;
}

.overview .reach-ad-contnet .ad-link {
    text-align: center;
    margin-top: 60px;
}

.overview .reach-ad-contnet .ad-link-list {
    display: inline-block;
}

.overview .reach-ad-contnet .ad-link-list::after {
    content: '';
    display: block;
    clear: both;
}

.overview .reach-ad-contnet .ad-link-list .item {
    float: left;
}

.overview .reach-ad-contnet .ad-link-list .item a {
    border: 1px solid #0c8644;
    color: #00ac4a;
    border-radius: 32px;
    font-size: 18px;
    height: 54px;
    line-height: 54px;
    padding: 0 40px;
    text-align: center;
    float: left;
}

.overview .reach-ad-contnet .ad-link-list .item a span {
    padding-right: 16px;
    position: relative;
}

.overview .reach-ad-contnet .ad-link-list .item a span::after {
    content: '';
    width: 7px;
    height: 7px;
    border-top: 1px solid #01ac4b;
    border-right: 1px solid #01ac4b;
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    top: 5px;
    right: 5px;
}

.overview .reach-ad-contnet .ad-link-list .item:hover {
    background-image: linear-gradient(to right, #07d05a, #24beac);
    color: #fff;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 32px;
}

.overview .reach-ad-contnet .ad-link-list .item:hover a span {
    color: #fff;
}

.overview .reach-ad-contnet .ad-link-list .item:hover a span::after {
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.overview .reach-ad-contnet .ad-link-list .item:nth-child(2) {
    margin: 0 20px;
}

/* 광고 환경 */
.overview .envi {
    background-color: #f5f7f8;
}

.overview .envi-inner {
    padding: 157px 52px 160px;
    width: 1296px;
    margin: 0 auto;
}

.overview .envi-content .point {
    color: #000000;
}

.overview .envi-list-content {
    background-color: #fff;
    margin-top: 54px;
}

.overview .envi-list-content .list::after {
    content: '';
    display: block;
    clear: both;
}

.overview .envi-list-content .list .item {
    width: 432px;
    padding: 95px 0 86px;
    float: left;
    position: relative;
}

.overview .envi-list-content .list .item::after {
    content: '';
    display: block;
    width: 1px;
    height: 326px;
    background-color: #eeeeee;
    position: absolute;
    top: 54px;
    right: 0;
}

.overview .envi-list-content .list .item:last-child:after {
    content: none;
}

.overview .envi-list-content .icon {
    height: 108px;
    text-align: center;
}

.overview .envi-list-content .icon i {
    display: inline-block;
}

.overview .envi-list-content .icon .icon-one {
    background-image: url('../image/overview-icon-one.png');
    width: 64px;
    height: 80px;
    background-size: 64px 80px;
}

.overview .envi-list-content .icon .icon-two {
    background-image: url('../image/overview-icon-two.png');
    width: 87px;
    height: 59px;
    background-size: 87px 59px;
}

.overview .envi-list-content .icon .icon-three {
    background-image: url('../image/overview-icon-three.png');
    width: 89px;
    height: 89px;
    background-size: 89px 89px;
}

.overview .envi-list-content .envi-text {
    text-align: center;
    margin-top: 20px;
}

.overview .envi-list-content .title {
    color: #01ac4b;
    font-size: 32px;
}

.overview .envi-list-content .text {
    color: #343434;
    font-size: 18px;
    margin-top: 16px;
}

/* 
----------
디스플레이 광고
----------
*/

/* 비주얼 */
.ad-platform .visual .bg-one {
    background-image: url('../image/ad-platform-visual-bg-one.png');
    position: absolute;
    top: 0;
    left: 0;
    background-size: 600px 180px;
    width: 600px;
    height: 180px;
}

.ad-platform .visual .bg-two {
    background-image: url('../image/ad-platform-visual-bg-two.png');
    position: absolute;
    top: 0;
    right: 0;
    background-size: 600px 180px;
    width: 600px;
    height: 180px;
}

/* 탭 */
.ad-platform .tab {
    height: 136px;
}

.ad-platform .tab-inner {
    width: 720px;
    padding: 53px 340px 0;
    margin: 0 auto;
}

.ad-platform .tab-content .tab-menu {
    border-bottom: 1px solid #c9c9c9;
}

.ad-platform .tab-content .tab-menu::after {
    content: '';
    display: block;
    clear: both;
}

.ad-platform .tab-content .item {
    width: 240px;
    height: 80px;
    text-align: center;
    float: left;
}

.ad-platform .tab-content .link {
    display: block;
    margin-top: 28px;
}

.ad-platform .tab-content .text {
    font-size: 20px;
    letter-spacing: -0.6px;
    display: inline-block;
}

.ad-platform .tab-content .desc {
    font-size: 15px;
    letter-spacing: -0.6px;
    display: inline-block;
    color: #767676;
}

/* 탭 on click */
.ad-platform .tab-content .item.on {
    border-bottom: 2px solid #00ac4a;
}

.ad-platform .tab-content .item.on .link .text {
    font-family: 'NanumSquare';
    font-weight: 700;
    color: #00ac4a;
}

.ad-platform .tab-content .item.on .link .desc {
    color: #00ac4a;
}

/* 콘텐츠 */
.ad-platform .ad-formal {
    position: relative;
}

.ad-platform .ad-formal::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 1640px;
    left: -1480px;
    top: 614px;
    z-index: -1;
    background-color: #f5f7f8;
    transform-origin: left bottom;
    transform: rotate(5.2deg);
}

.ad-platform .ad-formal-inner {
    width: 1118px;
    padding: 119px 141px 50px;
    margin: 0 auto;
}

.ad-platform .ad-formal-content {
    text-align: center;
    margin: 0 auto;
}

.ad-platform .ad-formal-content .text-cont .title {
    display: block;
    font-size: 42px;
    letter-spacing: -1.2px;
    margin-bottom: 16px;
}

.ad-platform .ad-formal-content .desc {
    font-size: 20px;
    color: #333333;
    letter-spacing: -0.6px;
    margin-bottom: 42px;
}

.ad-platform .ad-formal-content .point {
    color: #00ac4a;
}

.ad-platform .ad-formal-content .link {
    background-image: linear-gradient(to right, #07d05a, #24beac);
    width: 312px;
    padding: 16px 0 15px;
    border-radius: 40px;
    display: inline-block;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.ad-platform .ad-formal-content .link:hover {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.07);
    transform: translateY(-2px);
}

.ad-platform .ad-formal-content .text {
    font-size: 17px;
    letter-spacing: -0.6px;
    color: #ffffff;
    padding-right: 12px;
    position: relative;
}

.ad-platform .ad-formal-content .text::after {
    content: '';
    width: 8px;
    height: 8px;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    right: 0px;
}

.ad-platform .ad-formal-content .ad-formal-bg-img {
    background-image: url('../image/ad-platform-content-img.png');
    background-repeat: no-repeat;
    background-size: 1100px 644px;
    width: 1100px;
    height: 644px;
    margin: 0 auto;
    margin-top: 64px;
}

/* 콘텐츠 - 운영 안내 */
.ad-platform .docu .text-cont {
    margin-top: 81px;
}

.ad-platform .docu .title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.6px;
}

.ad-platform .docu .text {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #333333;
}

.ad-platform .docu .point {
    color: #00ac4a;
}

/* 콘텐츠 - 운영 안내 - 순서 */
.ad-platform .order-info-content {
    width: 1118px;
    margin: 0 auto;
    padding-top: 55px;
}

.ad-platform .order-info-content .list {
    border-top: 1px solid #999999;
    padding-left: 5px;
    padding-top: 20px;
}

.ad-platform .order-info-content .item {
    position: relative;
    text-align: left;
    padding: 40px 0 40px;
}

.ad-platform .order-info-content .item:first-child {
    border: none;
}

.ad-platform .order-info-content .item::after {
    content: '';
    display: block;
    clear: both;
}

.ad-platform .order-info-content .item::before {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    left: 15px;
    background-color: #03c75a;
}

.ad-platform .order-info-content .item:last-child::before {
    width: 2px;
    height: 72px;
}

.ad-platform .order-info-content .item:last-child::after {
    position: relative;
    bottom: -27px;
    border-bottom: 1px solid #eeeeee
}

.ad-platform .order-info-content .num {
    background-color: #03c75a;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    display: block;
    border-radius: 16px;
    color: #ffffff;
    font-size: 18px;
    font-family: 'SpoqaHanSansBold, Arial, NanumSquareR, sans-serif';
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    float: left;
    position: relative;
}

.ad-platform .order-info-content .title {
    font-size: 24px;
    line-height: 38px;
    letter-spacing: -0.6px;
    float: left;
    width: 232px;
    display: block;
    padding-left: 28px;
    font-family: 'NanumSquare';
    font-weight: 700;
}

.ad-platform .order-info-content .text-content {
    float: left;
    padding-left: 34px;
}

.ad-platform .order-info-content .text {
    font-size: 20px;
    margin-bottom: 15px;
    color: #555555;
    text-align: left;
}

.ad-platform .order-info-content .link-content::after {
    content: '';
    display: block;
    clear: both;
}

.ad-platform .order-info-content .link-item {
    text-align: center;
    display: block;
    float: left;
    width: 190px;
    padding: 8px 0 7px;
    background-image: none;
    border: 1px solid #94e4b9;
    border-radius: 40px;
    margin-right: 8px;
}

.ad-platform .order-info-content .link-item:hover {
    background-image: linear-gradient(to right, #07d05a, #24beac);
}

.ad-platform .order-info-content .link-item:hover .link-text {
    color: #fff;
}

.ad-platform .order-info-content .link-item:hover .link-text::after {
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.ad-platform .order-info-content .link-text {
    color: #00ac4a;
    padding-right: 12px;
    position: relative;
    font-size: 16px;
}

.ad-platform .order-info-content .link-text::after {
    content: '';
    width: 7px;
    height: 7px;
    border-top: 1px solid #00ac4a;
    border-right: 1px solid #00ac4a;
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    top: 5px;
    right: 0px;
}

/* 광고 대행 안내 */
.ad-platform .product {
    position: relative;
    overflow: hidden;
}

.ad-platform .product::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 1340px;
    left: -200px;
    top: -1348px;
    z-index: 1;
    background-color: #f5f7f8;
    transform-origin: left bottom;
    transform: rotate(5.2deg);
}

.ad-platform .product-bg {
    background-image: url('../image/92005e7200c42cca0716e8abc0d87b50.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
}

.ad-platform .product-inner {
    padding: 240px 287px 120px;
    width: 826px;
    margin: 0 auto;
}

.ad-platform .product-content {
    text-align: center;
}

.ad-platform .product-content .text-cont {
    color: #ffffff;
}

.ad-platform .product-content .text {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.6px;
    margin-bottom: 16px;
    color: #fff;
}

.ad-platform .product-content .desc {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.6px;
    margin-bottom: 56px;
    color: #d3d3d5;
}

.ad-platform .product-content .point {
    color: #00ac4a;
    font-weight: normal;
}

.ad-platform .product-content .link {
    display: inline-block;
    width: 553px;
    padding: 26px 0;
    font-size: 25px;
    line-height: 34px;
    letter-spacing: -0.6px;
    border-radius: 52px;
    border: 1px solid rgba(3, 199, 90, 0.7);
    color: #00ac4a;
}

.ad-platform .product-content .link:hover {
    background-image: linear-gradient(to right, #07d05a, #24beac);
    color: #fff;
}

/* 
----------
광고 상품 소개
----------
*/

/* 비주얼 */
.sub-container .visual .bg-one {
    background: url('../image/one.png') no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    background-size: 600px 180px;
    width: 600px;
    height: 180px;
}

.sub-container .visual .bg-two {
    background: url('../image/two.png') no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    background-size: 600px 180px;
    width: 600px;
    height: 180px;
}

/* 광고 상품 목록 */
.advertisement-list .product-list-content {
    width: 1296px;
    margin: 0 auto;
    padding-top: 120px;
    position: relative;
}

.advertisement-list .product-list-content .list::after {
    content: '';
    display: block;
    clear: both;
}

.advertisement-list .product-list-content .item {
    float: left;
    margin-right: 24px;
}

.advertisement-list .product-list-content .item + .item {
    margin-top: 24px;
}

.advertisement-list .product-list-content .item:nth-child(1) {
    margin-top: 0px;
}

.advertisement-list .product-list-content .item:nth-child(2) {
    margin-top: 0px;
}

.advertisement-list .product-list-content .item:nth-child(2n) {
    margin-right: 0;
}

.advertisement-list .product-list-content .item a {
    position: relative;
    display: block;
}

.advertisement-list .product-list-content .text-cont {
    position: absolute;
    left: 40px;
    bottom: 48px;
    color: #ffffff;
}

.advertisement-list .product-list-content .title {
    font-size: 32px;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: -0.6px;
    margin-top: 2px;
    margin-right: 8px;
}

.advertisement-list .product-list-content .text {
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1px 11px;
    line-height: 24px;
    display: inline-block;
    border-radius: 16px;
    letter-spacing: -0.6px;
    color: #ffffff;
}

.advertisement-list .product-list-content .desc {
    margin-top: 5px;
    line-height: 28px;
    letter-spacing: -0.6px;
}

/* 광고 상품 목록 - 이미지 */
.advertisement-list .product-list-content .main-ad-img {background-image: url('../image/advertisement-list-product-list-main-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list .product-list-content .sub-ad-img {background-image: url('../image/advertisement-list-product-list-sub-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list .product-list-content .topic-ad-img {background-image: url('../image/advertisement-list-product-list-topic-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list .product-list-content .video-ad-img {background-image: url('../image/advertisement-list-product-list-video-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list .product-list-content .search-ad-img {background-image: url('../image/advertisement-list-product-list-search-img.png'); width: 636px; height: 404px; background-size: 636px, 404px; background-position: 30px;}
.advertisement-list .product-list-content .band-ad-img {background-image: url('../image/advertisement-list-product-list-band-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list .product-list-content .webtoon-ad-img {background-image: url('../image/advertisement-list-product-list-webtoon-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}
.advertisement-list .product-list-content .influencer-ad-img {background-image: url('../image/advertisement-list-product-list-influencer-img.png'); width: 636px; height: 404px; background-size: 636px, 404px;}

/* 상품 상세정보 보기 */
.advertisement-list .product-info {
    min-width: 1400px;
    background-color: #22222a;
    margin-top: 129px;
    position: relative;
    overflow: hidden;
}

.advertisement-list .product-inner {
    width: 1298px;
    margin: 0 auto;
    padding: 205px 51px 120px;
    overflow: hidden;
}

.advertisement-list .product-content {
    display: inline-block;
}

.advertisement-list .product-content .title {
    color: #ffffff;
    margin-top: 4px;
    margin-bottom: 36px;
    display: block;
    font-size: 31px;
    text-align: center;
}

.advertisement-list .product-content .link-content {
    text-align: center;
    margin: 0 auto;
}

.advertisement-list .product-content .link-content::after {
    content: '';
    display: block;
    clear: both;
}

.advertisement-list .product-content .link {
    border: 1px solid #17ba5a;
    border-radius: 52px;
    margin-right: 22px;
    width: 636px;
    height: 93px;
    display: block;
    float: left;
}

.advertisement-list .product-content .link:hover {
    background-image: linear-gradient(to right, #07d05a, #24beac);
}

.advertisement-list .product-content .link:hover > span {
    color: #fff;
}

.advertisement-list .product-content .link:hover > span::after {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.advertisement-list .product-content .link:last-child {
    margin-right: 0;
}

.advertisement-list .product-content .link-text {
    margin-top: 30px;
    display: inline-block;
    color: #17ba5a;
    font-size: 24px;
    letter-spacing: 0.4px;
    word-spacing: -0.7px;
    font-weight: 700;
    padding-right: 33px;
    position: relative;
}

.advertisement-list .product-content .link-text::after {
    content: '';
    width: 13px;
    height: 13px;
    border-top: 1px solid #01ac4b;
    border-right: 1px solid #01ac4b;
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    top: 11px;
    right: 9px;
}

.advertisement-list .product-content .rotate_bg {
    position: absolute;
    width: 200%;
    height: 100%;
    left: -47px;
    top: -506px;
    background-color: #fff;
    transform-origin: left bottom;
    transform: rotate(5.2deg);
    z-index: 1;
}
