@charset "UTF-8";

:root {
    --swiper-navigation-size: 0px;
    /* --swiper-navigation-color: var(--swiper-theme-color); */
}

.swiper-container::after {
    content: '';
    display: block;
    width: 1655px;
    height: 1px;
    background-color: #878881;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 10px;
}

.swiper-pagination-bullet-active {
    width: 36px;
    border-radius: 32px;
    background-color: #fff;
    transition: all 0.3s width opacity;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
}

.swiper-button-prev,
.swiper-button-next {
    display: block;
    font-size: 0;
}

.swiper-button-prev:after {
    content: '';
    display: block;
    background: url('../image/main/main-visual-arr-prev.png') no-repeat;
    background-size: cover;
    width: 56px;
    height: 56px;
    position: absolute;
    left: 56px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.swiper-button-next:after {
    content: '';
    display: block;
    background: url('../image/main/main-visual-arr-next.png') no-repeat;
    background-size: cover;
    width: 56px;
    height: 56px;
    position: absolute;
    right: 56px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
